* {
    margin: 0px;
    padding: 0px;
}

img{
    width: 50px;
}


.container{
    background-color: rgb(81, 220, 255);
    display: flex;
    justify-content: space-between;
}

#checkbox, .menu-icon{
    display: none;
}
 
@media (max-width: 600px){
    .container{
        flex-direction: column;
    }

    nav a{
        display: block;
        text-align: center;
    }

    .menu-icon{
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }
    nav{
        display: none;
    }
    #checkbox:checked ~ nav{
        display: block;
    }
}