$gap: 12px;
$margin: auto;
$fontSizes:( fontOne:10px, fontTwo: 16px, fontThree: 18px, fontFour: 20px, fontFourtwo:24px, fontFive:40px, fontSix: 30px, fontSeven: 22px);
$maxWidth: 1170px;
$widths:(widthContent:490px);
$lineHeight: 32.4px;
$colors:(white: #fff, black: #000, main:#4E7302, secondary:#547C0E, highlight: #fab73a, icon-background:#F2F4EF, icon-color:#4a8050, heart-fill:#f84d4d, section-color:#F7F9F4, card-color:#f8eced, offer-color:#eaf4d7, sub-head:#5a5a5a, content-icon-bg:#FAF9F7, border-color: #F3F3F3, quoteColor: #E3E9D7);
$paddings:( paddingOne: 18px 0px, paddingSearch:20px 23px, paddingRight:5px, paddingBottom:20px, padding70:70px 80px, padding90:0px 0px 0px 90px, padding30:30px 0px, padding80: 60px 90px);
$margins:(marginNavbar:30px 0px 25px 0px, marginRight: 50px, marginSmallR: 5px, marginSmallR2:10px, marginSideC: auto 0, marginTopC: 0 auto, marginTestimonals: 0px 30px);
$border-radius:(radius: 20px, radiusIcon:50%, bord-radius: 20px);
$fonts:(mainFont:'Manrope', subFont:'Work Sans', headingFont:'Rubik');
$font-weights:(weightOne: 100, weightTwo:200, weightThree: 300, weightFour: 400, weightFive: 500, weightSix: 600);
@function fonts($fonts-type) {
    @return map-get($fonts, $fonts-type);
}

@function fontSizes($font-size) {
    @return map-get($fontSizes, $font-size)
}

@function font-weights($weight-number) {
    @return map-get($font-weights, $weight-number)
}

@function border-radius ($radius-number) {
    @return map-get($border-radius, $radius-number)
}

@function paddings($padding-size) {
    @return map-get($paddings, $padding-size)
}

@function margins($margin-size) {
    @return map-get($margins, $margin-size)
}

@function colors($colors-name) {
    @return map-get($colors, $colors-name)
}

@function paddings($padding-number) {
    @return map-get($paddings, $padding-number)
}

@function widths($width-for) {
    @return map-get($widths, $width-for);
}

@mixin icon-attributes {
    margin-right: 10px;
    padding: 20px;
    font-size: 20px;
    color: colors(main);
    background-color: colors(content-icon-bg);
    border-radius: 50%;
}

@mixin button-view {
    background-color: #fab73a;
    border: none;
    padding: 15px 20px;
    font-weight: bold;
    border-radius: 10px;
}

@mixin content-icon-attributes {
    margin-right: 10px;
    padding: 20px;
    font-size: 20px;
    color: colors(main);
    background-color: colors(content-icon-bg);
    border-radius: 20%;
}

@mixin navigation-icon {
    padding: 20px;
    font-size: 20px;
    color: colors(black);
    background-color: colors(icon-background);
    border-radius: 50%;
}

@mixin container {
    margin: 0 auto;
    max-width: 1170px;
}

@mixin displayFlex {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

@mixin displayCenter {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

@mixin content-alpha {
    border-radius: 15px;
    background-color: #fff;
    padding: 30px 30px;
}

@mixin button-links {
    text-decoration: none;
    color: colors(black);
    font-size: fontSizes(fontThree);
    font-weight: font-weights(weightOne);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: fonts(mainFont);
}

.top-section {
    .top-section_bar {
        background-color: colors(main);
    }
}

.top-section_items {
    @include container;
    @include displayFlex;
}

.top-section_items_list-links {
    ul {
        gap: $gap;
        color: colors(white);
        @include displayFlex;
        padding: paddings(paddingOne);
        li {
            font-size: fontSizes(fontTwo);
            a {
                font-size: fontSizes(fontThree);
                text-decoration: none;
                color: colors(white);
            }
        }
    }
}

.top-section_contact-details {
    ul {
        gap: $gap;
        color: colors(white);
        @include displayFlex;
        padding: paddings(paddingOne);
        li {
            .fa-phone {
                font-size: fontSizes(fontThree);
                padding-right: paddings(paddingRight);
            }
            .fa-envelope {
                font-size: fontSizes(fontTwo);
                padding-right: paddings(paddingRight);
            }
            font-weight: font-weights(weightFour);
        }
    }
}

#mail {
    font-family: fonts(subFont);
    font-weight: font-weights(wightFour);
}

.logo-section {
    @include container;
}

.logo {
    margin: margins(marginSideC);
}

.menu-details {
    @include displayFlex;
    padding: paddings(paddingOne);
}

.loginPrice {
    @include displayFlex;
    gap: 30px;
}

.user-icon {
    @include displayFlex;
    margin: $margin;
    i {
        @include icon-attributes;
    }
    .two-text {
        margin: $margin;
    }
}

.cart-icon {
    @include displayFlex;
    margin: $margin;
    i {
        @include icon-attributes;
    }
    .two-text {
        margin: $margin;
    }
}

.search-icon {
    margin: $margin;
    padding: paddings(paddingSearch);
    background-color: colors(highlight);
    border-radius: border-radius(radiusIcon);
}

.nav {
    @include container;
}

.navbar {
    @include displayFlex;
    margin: margins(marginNavbar);
}

.navigation-menu {
    ul {
        @include displayFlex;
        li {
            margin-right: margins(marginRight);
        }
    }
}

li {
    a {
        text-decoration: none;
        color: colors(black);
        font-size: fontSizes(fontThree);
        font-weight: font-weights(weightFive);
        margin-right: margins(marginSmallR2);
    }
}

.phone-number {
    @include displayFlex;
    b {
        margin: margins(marginSideC);
        .fa-phone {
            font-size: fontSizes(fontFourtwo);
            margin-right: margins(marginSmallR);
        }
    }
    p {
        font-size: fontSizes(fontThree);
        font-weight: font-weights(weightFive);
    }
}

.image-aboutus {
    position: relative;
    text-align: start;
}

.image-content {
    @include container;
}

.container>.about-center {
    position: absolute;
    top: 35%;
    max-width: widths(widthContent);
}

.about-center>h1 {
    font-size: fontSizes(fontFive);
    padding-bottom: paddings(paddingBottom)
}

.about-center>p {
    font-size: fontSizes(fontFour);
}

.story {
    text-align: start;
}

.story-mission {
    @include container;
    @include displayFlex;
    padding: paddings(padding70);
}

.story>h1 {
    font-size: fontSizes(fontFive);
    padding-bottom: 15px;
}

.story>p {
    max-width: 460px;
    line-height: $lineHeight;
    color: colors(sub-head);
    font-size: fontSizes(fontThree);
}

.mission>h1 {
    font-size: fontSizes(fontFive);
    padding-bottom: 15px;
}

.mission>p {
    max-width: 460px;
    line-height: $lineHeight;
    color: colors(sub-head);
    font-size: fontSizes(fontThree);
}

.store {
    @include container;
    padding-bottom: 90px;
}

.store-images-rowone {
    @include displayCenter;
    gap: 15px;
}

.image-a {
    img {
        border-radius: border-radius(radius);
    }
}

.image-b {
    img {
        border-radius: border-radius(radius);
    }
}

.store-images-rowtwo {
    @include displayCenter;
    gap: 15px;
    padding: 10px 0px 0px 230px;
}

.image-c {
    img {
        border-radius: border-radius(radius);
    }
}

.image-d {
    img {
        border-radius: border-radius(radius);
    }
}

.values {
    background-color: colors(section-color);
    .container {
        @include container;
        padding: paddings(padding70)
    }
}

.values-header {
    text-align: center;
    h1 {
        font-size: fontSizes(fontFive);
        padding-bottom: 20px;
    }
    p {
        margin: margins(marginTopC);
        max-width: 700px;
        font-size: fontSizes(fontThree);
        padding-bottom: 50px;
    }
}

.values-content {
    @include displayFlex;
    text-align: center;
    gap: $gap;
}

.content-a {
    @include content-alpha;
    i {
        @include content-icon-attributes;
    }
    h3 {
        padding: paddings(paddingSearch);
        font-size: fontSizes(fontFour);
    }
}

.content-b {
    @include content-alpha;
    i {
        @include content-icon-attributes;
    }
    h3 {
        padding: paddings(paddingSearch);
        font-size: fontSizes(fontFour);
    }
}

.content-c {
    @include content-alpha;
    i {
        @include content-icon-attributes;
    }
    h3 {
        padding: paddings(paddingSearch);
        font-size: fontSizes(fontFour);
    }
}

.testimonals {
    .container {
        padding: paddings(padding70);
        @include container;
        text-align: center;
    }
    .testimonals-data {
        @include displayFlex;
    }
}

.testimonals-title {
    h1 {
        font-size: fontSizes(fontFive);
        padding-bottom: 60px;
    }
}

.testimonals-data {
    .left-navigation {
        margin: margins(marginSideC)
    }
    .right-navigation {
        margin: margins(marginSideC)
    }
}

.left-navigation {
    i {
        @include navigation-icon;
    }
}

.right-navigation {
    i {
        @include navigation-icon;
    }
}

.testimonals-content {
    margin: margins(marginTestimonals);
    border: 0.3px solid colors(border-color);
    border-radius: border-radius(bord-radius);
    padding: paddings(padding80);
    max-height: 350px;
    .fa-quote-left {
        color: colors(quoteColor);
        font-size: fontSizes(fontSix);
        padding-bottom: 20px;
    }
    .testimonals-content_text {
        line-height: $lineHeight;
        font-size: fontSizes(fontFour);
    }
    .testimonals-content_author {
        padding: paddings(paddingSearch)
    }
    .testimonals-content_desgination {
        padding-bottom: 10px;
    }
}

.navigation-click {
    text-align: center;
    padding: 45px 0px;
    margin-top: 35px;
    .dot {
        height: 10px;
        width: 10px;
        background-color: #e3e3e3;
        border-radius: 50%;
        display: inline-block;
    }
    .dot-active {
        height: 10px;
        width: 10px;
        background-color: rgb(32, 32, 32);
        border-radius: 50%;
        display: inline-block;
    }
}

.testimonals-button {
    button {
        @include button-view;
        a {
            text-decoration: none;
            color: colors(black);
            font-size: fontSizes(fontThree);
            font-weight: font-weights(weightOne);
        }
    }
}

.percentage-off {
    .container {
        @include container;
    }
}

.percentage-off_image {
    border-radius: border-radius(radius);
    position: relative;
    background-color: #eaf4d7;
    text-align: center;
}

.percentage-off_text-centered {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    #text-first {
        font-size: 12px;
        padding: 60px 0px;
        font-weight: bold;
        color: #7c8273;
        letter-spacing: 4px;
    }
    #text-second {
        font-size: 35px;
        padding-bottom: 20px;
    }
    #text-third {
        font-size: 20px;
    }
    .percentage-off_button {
        padding: 40px 0px 0px 0px;
    }
}

.percentage-off_button {
    button {
        @include button-view;
        a {
            @include button-links;
        }
    }
}

.footers {
    margin-top: 60px;
    background-color: colors(section-color);
    .container {
        @include container;
    }
}

.footer-items {
    @include displayFlex;
    padding-top: 60px;
    padding-bottom: paddings(paddingBottom);
}

.logo_content {
    max-width: 400px;
}

.logo_content {
    img {
        padding-bottom: paddings(paddingBottom);
    }
    p {
        padding-bottom: paddings(paddingBottom);
    }
    ul {
        display: flex;
        list-style-type: none;
    }
}

.footer-items-list {
    ul {
        list-style-type: none;
        li {
            padding-bottom: 5px;
        }
    }
}

.items-list-heading {
    p {
        font-weight: bold;
        padding: 10px 0px 30px 0px;
    }
}

hr {
    border: 0.3px solid #dddada;
    margin: 20px 0px;
}

.copywright {
    @include displayFlex;
    padding-bottom: paddings(paddingBottom);
}