* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Work Sans';
    font-style: normal;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    background-color: #4E7302;
}

.list-links {
    background-color: #4E7302;
    padding: 18px 0px 18px 135px;
}

.top-bar>.list-links>ul {
    display: flex;
    list-style-type: none;
}

.fa-facebook-square,
.fa-instagram,
.fa-linkedin-square,
.fa-twitter,
.fa-phone,
.fa-envelope {
    color: #fff;
}

#facebook {
    margin-right: 20px;
    font-size: 20px;
}

#insta {
    margin-right: 20px;
    font-size: 20px;
}

#linkedin {
    margin-right: 20px;
    font-size: 20px;
}

#twitter {
    font-size: 20px;
}

.contact-details {
    padding: 18px 135px 18px 0px;
}

.contact-details>ul {
    display: flex;
    list-style-type: none;
}

.contact-details>ul>li {
    color: #fff;
}

.fa-phone {
    margin-right: 5px;
}

#phone {
    margin-right: 20px;
    font-size: 15px;
}

.fa-envelope {
    margin-right: 5px;
    font-size: 15px;
}

.menu-details {
    display: flex;
    justify-content: space-between;
    padding: 18px 135px 18px 135px;
}

.loginPrice {
    display: flex;
}

.two-text {
    margin: auto;
}

.user-icon {
    display: flex;
    margin-right: 30px;
}

.fa-user {
    margin-right: 10px;
    padding: 20px;
    font-size: 20px;
    color: #4E7302;
    background-color: #F2F4EF;
    border-radius: 50%;
}

.cart-icon {
    display: flex;
    margin-right: 30px;
}

.fa-shopping-cart {
    margin-right: 10px;
    padding: 20px;
    font-size: 20px;
    color: #4E7302;
    background-color: #F2F4EF;
    border-radius: 50%;
}

.fa-search {
    margin-right: 10px;
    padding: 20px;
    font-size: 20px;
    color: #000;
    background-color: #FAB73A;
    border-radius: 50%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 18px 135px 18px 135px;
}

.navigation-menu>ul {
    display: flex;
    list-style-type: none;
}

.navigation-menu>ul>li>a {
    text-decoration: none;
    color: #000;
}

#home {
    margin-right: 60px;
}

#about {
    margin-right: 60px;
}

#products {
    margin-right: 60px;
}

#shop {
    margin-right: 60px;
}

#blog {
    margin-right: 60px;
}

.phone-number {
    display: flex;
}

.phone-number>b>.fa-phone {
    font-size: 20px;
    font-weight: 900;
    color: #000;
}

.phone-number>p {
    margin: auto;
}

.area-image {
    background-image: url("/assests/images/background-image.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 80vh;
}

.area-image>.content {
    padding: 18px 135px 18px 135px;
}

.content>.text-first {
    padding: 100px 0px 10px 0px;
    font-size: 34px;
    font-style: regular;
    width: 530px;
}

.content>.text-second {
    width: 330px;
    padding: 40px 0px;
}

.button-shop {
    padding-bottom: 108px;
}

.button-shop>button {
    /* font-family: 'Manrope'; */
    background-color: #FAB73A;
    padding: 17.5px 24px;
    border-radius: 15px;
    border: none;
}

.button-shop>button>.fa-arrow-circle-right {
    font-size: 20px;
}

.feature-list {
    margin: auto;
    width: 1050px;
    padding: 46px 60px;
    border-radius: 16px;
    box-shadow: 0px 3px 22px -6px rgba(0, 0, 0, 0.62);
    -webkit-box-shadow: 0px 3px 22px -6px rgba(0, 0, 0, 0.62);
    -moz-box-shadow: 0px 3px 22px -6px rgba(0, 0, 0, 0.62);
    background-color: #fff;
    margin-top: -60px;
}

.feature-content {
    display: flex;
    justify-content: space-between;
}

.feature-cart {
    display: flex;
}

.feature-cart>.fa-shopping-cart {
    margin-right: 10px;
    padding: 20px;
    font-size: 20px;
    color: #4E7302;
    background-color: #F2F4EF;
    border-radius: 15px;
}

.feature-text {
    margin: auto;
}

.feature-cart>.fa-headphones {
    margin-right: 10px;
    padding: 20px;
    font-size: 20px;
    color: #4E7302;
    background-color: #F2F4EF;
    border-radius: 15px;
}

.feature-cart>.fa-credit-card-alt {
    margin-right: 10px;
    padding: 20px;
    font-size: 20px;
    color: #4E7302;
    background-color: #F2F4EF;
    border-radius: 15px;
}

.figure-image {
    margin: -30px 0px 0px 143px;
}

.new-arrival {
    text-align: center;
}

.new-arrival>h1 {
    margin: -20px 0px 25px 0px;
}

.new-arrival>p {
    color: #7a7a7a;
    margin: 0px 0px 40px 0px;
}

.nav-list>ul {
    margin: auto;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 650px;
    margin-bottom: 50px;
    color: #9C9C9C;
}

.nav-list>ul>li:hover {
    color: #547C0E;
}

.active {
    color: #547C0E;
}

.card-list {
    margin: auto;
    width: 1140px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.card {
    position: relative;
    text-align: start;
    box-shadow: 1px 4px 29px -13px rgba(0, 0, 0, 0.31);
    -webkit-box-shadow: 1px 4px 29px -13px rgba(0, 0, 0, 0.31);
    -moz-box-shadow: 1px 4px 29px -13px rgba(0, 0, 0, 0.31);
    border-radius: 20px;
}

.card>img {
    border-radius: 20px 20px 0px 0px;
    background-color: #f8eced;
}

.card .top-left {
    position: absolute;
    top: 15px;
    left: 15px;
    background-color: #f84d4d;
    color: #fff;
    border-radius: 50px;
    padding: 5px 10px;
    font-size: 12px;
}

.card .top-left-potato {
    position: absolute;
    top: 15px;
    left: 15px;
    background-color: #fab73a;
    color: #fff;
    border-radius: 50px;
    padding: 5px 10px;
    font-size: 12px;
}

.card .top-left-leaf {
    position: absolute;
    top: 15px;
    left: 15px;
    background-color: #91c997;
    color: #4a8050;
    border-radius: 50px;
    padding: 5px 10px;
    font-size: 12px;
}

.card .top-left-brinjal {
    position: absolute;
    top: 15px;
    left: 15px;
    background-color: #91c997;
    color: #4a8050;
    border-radius: 50px;
    padding: 5px 10px;
    font-size: 12px;
}

.hover-items {
    margin: auto;
    width: 200px;
    margin-top: -25px;
}

.hover-items>.fa-shopping-cart,
.fa-eye {
    margin-right: 10px;
    padding: 15px;
    font-size: 15px;
    color: #000000;
    background-color: #fff;
    border-radius: 50%;
}

.hover-items>.fa-heart {
    margin: auto;
    padding: 15px;
    font-size: 15px;
    color: #fff;
    background-color: #f84d4d;
    border-radius: 50%;
}

.card>.card-category {
    font-size: 12px;
    padding: 15px 0px 0px 15px;
    color: #929191;
}

.card>.card-title {
    padding: 5px 15px;
}

.card>.card-price {
    display: flex;
    padding: 5px 15px;
    margin-bottom: 20px;
}

.card>.card-price>p>strike {
    margin-right: 5px;
    color: #a5a5a5;
}

.card>.card-price>p>b {
    color: #698c2c;
}

.card>.brinjal-content>.card-category {
    font-size: 12px;
    padding: 15px 0px 0px 15px;
    color: #929191;
}

.card>.brinjal-content>.card-title {
    padding: 5px 15px;
}

.card>.brinjal-content>.card-price {
    display: flex;
    padding: 5px 15px;
    margin-bottom: 20px;
}

.card>.brinjal-content>.card-price>p {
    margin-right: 5px;
    color: #f84d4d;
}

.navigation-click>.dot {
    height: 10px;
    width: 10px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.navigation-click>.dot-active {
    height: 10px;
    width: 10px;
    background-color: rgb(32, 32, 32);
    border-radius: 50%;
    display: inline-block;
}

.button-view-all {
    margin: 60px 0px 56px 0px;
}

.button-view-all>button {
    background-color: #fab73a;
    border: none;
    padding: 15px 20px;
    font-weight: bold;
    border-radius: 10px;
}

.button-view-all>button>.fa-arrow-circle-right {
    font-size: 15px;
}

.hottest-category {
    background-color: #f7f9f4;
    text-align: center;
}

.hottest-category>h1 {
    padding: 90px 0px 50px 0px;
}

.categories-items {
    margin: auto;
    display: flex;
    width: 950px;
    justify-content: space-between;
    padding-bottom: 60px;
}

.card-item {
    position: relative;
    text-align: start;
    border-radius: 20px;
}

.card-item>img {
    position: relative;
    border-radius: 15px;
}

.card-item>img:after {
    position: relative;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(0deg, rgba(2, 0, 36, 1) 56%, rgba(255, 255, 255, 1) 100%);
}

.bottom-left-up {
    position: absolute;
    bottom: 30px;
    left: 16px;
    color: #fff;
    font-size: 16px;
    padding-bottom: 20px;
}

.bottom-left {
    position: absolute;
    bottom: 20px;
    left: 16px;
    color: #fff;
    font-size: 14px;
}

.bottom-left>.fa-arrow-circle-right {
    color: #fab73a;
}

.fa-star {
    margin-right: 10px;
    padding: 20px;
    font-size: 20px;
    color: #4E7302;
    background-color: #F2F4EF;
    border-radius: 50%;
}