* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border: none;
}

h1 {
    font-size: 40px;
}

body {
    font-family: 'Work Sans';
    font-style: normal;
}

.top-section_bar {
    background-color: #4E7302;
}

.container {
    width: 100%;
    margin: 0 auto;
    max-width: 1170px;
}

.top-section_items {
    display: flex;
    justify-content: space-between;
}

.top-section_items_list-links {
    background-color: #4E7302;
    padding: 18px 0px;
}

.top-section_bar>.container>.top-section_items>.top-section_items_list-links>ul {
    display: flex;
    list-style-type: none;
}

.fa-facebook-square,
.fa-instagram,
.fa-linkedin-square,
.fa-twitter,
.fa-phone,
.fa-envelope {
    color: #fff;
}

#facebook {
    margin-right: 20px;
    font-size: 20px;
}

#insta {
    margin-right: 20px;
    font-size: 20px;
}

#linkedin {
    margin-right: 20px;
    font-size: 20px;
}

#twitter {
    font-size: 20px;
}

.top-section_contact-details {
    padding: 18px 0px;
}

.top-section_contact-details>ul {
    display: flex;
    list-style-type: none;
}

.top-section_contact-details>ul>li {
    color: #fff;
}

.fa-phone {
    margin-right: 5px;
}

#phone {
    margin-right: 20px;
    font-size: 15px;
}

.fa-envelope {
    margin-right: 5px;
    font-size: 15px;
}

.logo {
    margin: auto 0;
}

.menu-details {
    display: flex;
    justify-content: space-between;
    padding: 18px 0px;
}

.loginPrice {
    display: flex;
}

.two-text {
    margin: auto;
}

.user-icon {
    display: flex;
    margin-right: 30px;
}

.fa-user {
    margin-right: 10px;
    padding: 20px;
    font-size: 20px;
    color: #4E7302;
    background-color: #F2F4EF;
    border-radius: 50%;
}

.cart-icon {
    display: flex;
    margin-right: 30px;
}

.fa-shopping-cart {
    margin-right: 10px;
    padding: 20px;
    font-size: 20px;
    color: #4E7302;
    background-color: #F2F4EF;
    border-radius: 50%;
}

.fa-search {
    padding: 20px;
    font-size: 20px;
    color: #000;
    background-color: #FAB73A;
    border-radius: 50%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 18px 0px;
}

.navigation-menu>ul {
    display: flex;
    list-style-type: none;
}

.navigation-menu>ul>li>a {
    text-decoration: none;
    color: #000;
}

#home {
    margin-right: 60px;
}

#about {
    margin-right: 60px;
}

#products {
    margin-right: 60px;
}

#shop {
    margin-right: 60px;
}

#blog {
    margin-right: 60px;
}

.phone-number {
    display: flex;
}

.phone-number>b>.fa-phone {
    font-size: 20px;
    font-weight: 900;
    color: #000;
}

.phone-number>p {
    margin: auto;
}

.area-image {
    background-image: url("/assests/images/background-image.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.area-image>.content {
    padding: 18px 135px 18px 135px;
}

.area-image-aboutus {
    background: linear-gradient(0deg, rgba(239, 236, 205, 1) 50%, rgba(243, 241, 216, 1) 100%);
    background-image: url("/assests/images/about-us-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 60vh;
}

.area-image-about-us>.content {
    padding: 18px 135px 18px 135px;
}

.content>.text-first {
    padding: 100px 0px 10px 0px;
    font-size: 34px;
    font-style: regular;
    width: 530px;
}

.content>.text-second {
    width: 330px;
    padding: 40px 0px;
}

button>a {
    text-decoration: none;
    color: #000;
}

.button-shop {
    padding-bottom: 108px;
}

.button-shop>button {
    /* font-family: 'Manrope'; */
    background-color: #FAB73A;
    padding: 17.5px 24px;
    border-radius: 15px;
    border: none;
}

.button-shop>button>.fa-arrow-circle-right {
    font-size: 20px;
}

.feature-list {
    margin: 0 auto;
    width: 100%;
    padding: 45px 60px;
    border-radius: 16px;
    box-shadow: 0px 5px 36px -9px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin-top: -60px;
}

.feature-content {
    display: flex;
    justify-content: space-between;
}

.feature-cart {
    display: flex;
}

.feature-cart>.fa-shopping-cart {
    margin-right: 10px;
    padding: 20px;
    font-size: 20px;
    color: #4E7302;
    background-color: #F2F4EF;
    border-radius: 15px;
}

.feature-text {
    margin: auto;
}

.feature-cart>.fa-headphones {
    margin-right: 10px;
    padding: 20px;
    font-size: 20px;
    color: #4E7302;
    background-color: #F2F4EF;
    border-radius: 15px;
}

.feature-cart>.fa-credit-card-alt {
    margin-right: 10px;
    padding: 20px;
    font-size: 20px;
    color: #4E7302;
    background-color: #F2F4EF;
    border-radius: 15px;
}

.figure-image {
    margin: -30px 0px 0px 143px;
}

.new-arrival {
    text-align: center;
}

.new-arrival>h1 {
    font-size: 44px;
    margin: -20px 0px 25px 0px;
}

.new-arrival>p {
    font-size: 20px;
    color: #7a7a7a;
    margin: 0px 0px 40px 0px;
}

.nav-list>ul {
    margin: auto;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 650px;
    margin-bottom: 50px;
    color: #9C9C9C;
}

.nav-list>ul>li:hover {
    color: #547C0E;
}

.active {
    border-bottom: 1px solid #547C0E;
    color: #547C0E;
}

.card-list {
    margin: auto;
    width: 1140px;
    display: flex;
    justify-content: space-between;
}

.card-list-firstrow {
    margin: auto;
    width: 1140px;
    display: flex;
    justify-content: space-between;
}

.card-list-secondrow {
    margin: auto;
    width: 1140px;
    margin-top: 85px;
    display: flex;
    justify-content: space-between;
}

.card {
    position: relative;
    text-align: start;
    box-shadow: 1px 4px 29px -13px rgba(0, 0, 0, 0.31);
    -webkit-box-shadow: 1px 4px 29px -13px rgba(0, 0, 0, 0.31);
    -moz-box-shadow: 1px 4px 29px -13px rgba(0, 0, 0, 0.31);
    border-radius: 20px;
}

.card>img {
    border-radius: 20px 20px 0px 0px;
    background-color: #f8eced;
}

.card .top-left {
    position: absolute;
    top: 15px;
    left: 15px;
    background-color: #f84d4d;
    color: #fff;
    border-radius: 50px;
    padding: 3px 10px;
    font-size: 12px;
}

.card .top-left-potato {
    position: absolute;
    top: 15px;
    left: 15px;
    background-color: #fab73a;
    color: #fff;
    border-radius: 50px;
    padding: 3px 10px;
    font-size: 12px;
}

.card .top-left-leaf {
    position: absolute;
    top: 15px;
    left: 15px;
    background-color: #91c997;
    color: #4a8050;
    border-radius: 50px;
    padding: 3px 10px;
    font-size: 12px;
}

.card .top-left-brinjal {
    position: absolute;
    top: 15px;
    left: 15px;
    background-color: #91c997;
    color: #4a8050;
    border-radius: 50px;
    padding: 3px 10px;
    font-size: 12px;
}

.hover-items {
    margin: auto;
    width: 200px;
    margin-top: -25px;
}

.hover-items>.fa-shopping-cart,
.fa-eye {
    margin-right: 10px;
    padding: 15px;
    font-size: 15px;
    color: #000000;
    background-color: #fff;
    border-radius: 50%;
}

.hover-items>.fa-heart {
    margin: auto;
    padding: 15px;
    font-size: 15px;
    color: #fff;
    background-color: #f84d4d;
    border-radius: 50%;
}

.card>.card-category {
    font-size: 12px;
    padding: 5px 0px 0px 15px;
    color: #929191;
}

.card>.card-title {
    padding: 5px 15px;
}

.card>.card-price {
    display: flex;
    padding: 5px 15px;
}

.card>.card-price>p>strike {
    margin-right: 5px;
    color: #a5a5a5;
}

.card>.card-price>p>b {
    color: #698c2c;
}

.card>.brinjal-content>.card-category {
    font-size: 12px;
    padding: 5px 0px 0px 15px;
    color: #929191;
}

.card>.brinjal-content>.card-title {
    padding: 5px 15px;
}

.card>.brinjal-content>.card-price {
    display: flex;
    padding: 5px 15px;
    margin-bottom: 20px;
}

.card>.brinjal-content>.card-price>p {
    margin-right: 5px;
    color: #f84d4d;
}

.navigation-click {
    margin: 20px 0px;
}

.navigation-click>.dot {
    height: 10px;
    width: 10px;
    background-color: #e3e3e3;
    border-radius: 50%;
    display: inline-block;
}

.navigation-click>.dot-active {
    height: 10px;
    width: 10px;
    background-color: rgb(32, 32, 32);
    border-radius: 50%;
    display: inline-block;
}

.button-view-all {
    margin: 60px 0px 56px 0px;
}

.button-view-all>button {
    background-color: #fab73a;
    border: none;
    padding: 15px 20px;
    font-weight: bold;
    border-radius: 10px;
}

.button-view-all>button>.fa-arrow-circle-right {
    font-size: 15px;
}

.hottest-category {
    background-color: #f7f9f4;
    text-align: center;
}

.hottest-category>.container>h1 {
    font-size: 44px;
    padding: 90px 0px 50px 0px;
}

.categories-items {
    margin: auto;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 60px;
}

.card-item {
    position: relative;
    text-align: start;
    border-radius: 20px;
}

.card-item>img {
    position: relative;
    border-radius: 15px;
}

.card-item>img:after {
    position: relative;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(0deg, rgba(2, 0, 36, 1) 56%, rgba(255, 255, 255, 1) 100%);
}

.bottom-left-up {
    position: absolute;
    bottom: 30px;
    left: 16px;
    color: #fff;
    font-size: 16px;
    padding-bottom: 20px;
}

.bottom-left {
    position: absolute;
    bottom: 20px;
    left: 16px;
    color: #fff;
    font-size: 14px;
}

.bottom-left>.fa-arrow-circle-right {
    color: #fab73a;
}

.who-we-are {
    display: flex;
}

.we-content {
    width: 100%;
    padding: 150px 0px 20px 0px;
}

.we-content>h1 {
    margin: 0px;
}

.we-content>#organic {
    width: 430px;
    font-size: 20px;
    margin: 20px 0px 20px 0px;
    color: #000;
}

.we-content>p {
    width: 460px;
    color: #636363;
    margin: 0px 0px 40px 0px;
}

.we-content>.items {
    display: flex;
    justify-content: start;
}

.star-icon {
    display: flex;
    margin: 0px 20px 60px 0px;
    padding: 10px 25px;
    border-radius: 15px;
    box-shadow: 0px 5px 36px -9px rgba(0, 0, 0, 0.1);
}

.leaf-icon {
    display: flex;
    padding: 10px 25px;
    border-radius: 15px;
    box-shadow: 0px 5px 36px -9px rgba(0, 0, 0, 0.1);
}

.fa-star,
.fa-envira {
    margin-right: 10px;
    padding: 20px;
    font-size: 20px;
    color: #4E7302;
    background-color: #F2F4EF;
    border-radius: 50%;
}

.who-we-are_content-image {
    padding: 120px 0px 80px 60px;
}

.who-we-are_content-image>img {
    border-radius: 16px;
}

.we-content_button-learn>button {
    border: none;
    font-size: 18px;
    background-color: #fab73a;
    padding: 17.5px 30px;
    border-radius: 16px;
}

.testimonals {
    text-align: center;
    padding: 60px 0px;
    background-color: #f7f9f4;
}

.testimonals-title>h1 {
    text-align: center;
    padding-bottom: 60px;
}

.testimonals-data {
    text-align: center;
    display: flex;
}

.left-navigation,
.right-navigation {
    margin: auto;
}

.testimonals-content {
    width: 770px;
    height: 330px;
    background-color: #fff;
    padding: 16px;
    margin: 0px 50px;
    border-radius: 15px;
}

.testimonals-content>.fa-quote-left {
    font-size: 30px;
    color: #E3E9D7;
    padding: 40px 0px;
    ;
}

.testimonals-content_text {
    font-size: 18px;
    padding: 0px 35px 22px 35px;
    text-align: center;
}

.testimonals-content_author {
    padding-bottom: 8px;
}

.testimonals-content_desgination {
    padding-bottom: 20px;
}

.fa-chevron-left,
.fa-chevron-right {
    padding: 20px;
    font-size: 20px;
    color: #4E7302;
    background-color: #fff;
    border-radius: 50%;
}

.testimonals>.container>.navigation-click {
    text-align: center;
    padding: 45px 0px;
}

.testimonals-button>button {
    border: none;
    font-size: 18px;
    background-color: #fab73a;
    padding: 17.5px 30px;
    border-radius: 16px;
}

.hot-sales {
    padding: 20px;
    margin-bottom: 50px;
}

.hot-sales_title {
    text-align: center;
    padding: 80px 0px 20px 0px;
}

.hot-sales_text {
    text-align: center;
    padding: 0px 0px 50px 0px;
}

.hot-sales_card>.card-list-firstrow>.card-data {
    text-align: center;
    width: 370px;
    height: 320px;
    position: relative;
    text-align: center;
    border-radius: 15px;
    border-radius: 20px;
    background-color: #f5f7ed;
}

.hot-sales_card>.card-list-firstrow>.card-data>img {
    width: 152px;
    background-color: #f5f7ed;
}

.hot-sales_card>.card-list-firstrow>.card-data .top-left {
    position: absolute;
    top: 15px;
    left: 15px;
    color: #000;
    border-radius: 50px;
    padding: 3px 10px;
    font-size: 18px;
    font-weight: bold;
}

.hot-sales_card>.card-list-firstrow>.card-data .top-right {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: #f84d4d;
    color: #fff;
    border-radius: 50px;
    padding: 3px 10px;
    font-size: 12px;
}

.hot-sales_card>.card-list-firstrow>.card-data .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.view-option {
    display: flex;
    background-color: #fff;
    padding: 10px 15px;
    border-radius: 15px;
}

.view-option>#eye-fa {
    padding: 0px;
    font-size: 20px;
}

.view-option>p {
    margin: auto;
    font-weight: bold;
}

.hot-sales_card>.card-list-firstrow>.card-data .top-right-colorone {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: #FAB73A;
    color: #fff;
    border-radius: 50px;
    padding: 3px 10px;
    font-size: 12px;
}

.hot-sales_card>.card-list-secondrow>.card-data {
    text-align: center;
    width: 370px;
    height: 320px;
    position: relative;
    text-align: center;
    border-radius: 15px;
    border-radius: 20px;
    background-color: #f5f7ed;
}

.hot-sales_card>.card-list-secondrow>.card-data>img {
    width: 152px;
    background-color: #f5f7ed;
}

.hot-sales_card>.card-list-secondrow>.card-data .top-left {
    position: absolute;
    top: 15px;
    left: 15px;
    color: #000;
    border-radius: 50px;
    padding: 3px 10px;
    font-size: 18px;
    font-weight: bold;
}

.hot-sales_card>.card-list-secondrow>.card-data .top-right {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: #f84d4d;
    color: #fff;
    border-radius: 50px;
    padding: 3px 10px;
    font-size: 12px;
}

.hot-sales_card>.card-list-secondrow>.card-data .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hot-sales_card>.card-list-secondrow>.card-data .top-right-colorone {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: #FAB73A;
    color: #fff;
    border-radius: 50px;
    padding: 3px 10px;
    font-size: 12px;
}

.fa-heart-fill {
    color: #f84d4d;
}

.card-texts {
    width: 340px;
    margin: auto;
    text-align: start;
    padding: 20px 20px;
    border-radius: 15px;
    box-shadow: 0px 5px 36px -9px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.card-texts>.card-category {
    font-size: 12px;
    padding-bottom: 4px;
}

.card-texts>.card-title {
    padding-bottom: 5px;
}

.card-texts>.card-price {
    display: flex;
    justify-content: space-between;
}

.card-texts>.card-price>.price {
    color: #547C0E;
    display: flex;
    margin: auto 0;
}

.card-texts>.card-price>.price>p>strike {
    margin-right: 5px;
    color: #a5a5a5;
}

.card-price>.card-cart>.fa-shopping-cart {
    border: 1px solid #000;
    background-color: #fff;
    color: #000;
    font-size: 15px;
    padding: 10px;
}

#fa-cart-fill {
    font-size: 20px;
    background-color: #547C0E;
    border: none;
    color: #fff;
}

.percentage-off {
    padding: 60px 0px 50px 0px;
}

.percentage-off_image {
    position: relative;
    text-align: center;
    border-radius: 15px;
    background-color: #eaf4d7;
}

.percentage-off_text-centered {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#text-first {
    font-size: 12px;
    padding: 60px 0px;
    font-weight: bold;
    color: #7c8273;
    letter-spacing: 4px;
}

#text-second {
    font-size: 35px;
    padding-bottom: 20px;
}

#text-third {
    font-size: 20px;
}

.percentage-off_button {
    padding: 40px 0px 0px 0px;
}

.percentage-off_button>button {
    border: none;
    font-size: 18px;
    background-color: #fab73a;
    padding: 17.5px 30px;
    border-radius: 16px;
}

.blog {
    text-align: center;
    padding: 40px 0px 80px 0px;
}

.blog_heading>h1 {
    padding: 0px 0px 20px 0px;
}

.blog_heading>p {
    padding: 0px 0px 40px 0px;
}

.blog_content {
    display: flex;
}

.card-data_all {
    position: relative;
    text-align: start;
    border-radius: 20px;
    padding-right: 20px;
}

.card-data_all>img {
    width: 550px;
}

#new-year {
    font-size: 20px;
}

.blog_content_datatwo_partone {
    display: flex;
}

.parttwo_content {
    border: 0.2px solid rgb(245, 245, 245);
    border-radius: 0px 15px 15px 0px;
}

.blog_content_datatwo_partone>img {
    border-radius: 15px 0px 0px 15px;
}

.blog_content_datatwo_parttwo {
    display: flex;
    margin-top: 10px;
}

.blog_content_datatwo_parttwo>img {
    border-radius: 15px 0px 0px 15px;
}

.receipe_time {
    display: flex;
    padding: 20px 0px 15px 0px;
}

.receipe_time>p {
    font-size: 12px;
    padding-right: 25px;
}

.receipe_time>#recepie {
    color: #4E7302;
}

.fa-1 {
    font-size: 4px;
}

.receipe_time>ul {
    font-size: 12px;
    color: #9c9c9c;
}

.parttwo_content {
    text-align: start;
    padding: 0px 0px 0px 20px;
}

#content_title {
    font-size: 25px;
    font-weight: 300;
    padding-bottom: 55px;
}

.read-more {
    font-weight: 200;
}

#blog-right-arrow {
    color: #FAB73A;
}

.blog_content_button {
    padding: 40px 0px 0px 0px;
}

.blog_content_button>button {
    border: none;
    font-size: 18px;
    background-color: #fab73a;
    padding: 17.5px 30px;
    border-radius: 16px;
}

.footers {
    padding-top: 60px;
    background-color: #F7F9F4;
}

.footer-items {
    display: flex;
    padding-bottom: 20px;
    justify-content: space-between;
}

.logo_content {
    width: 400px;
}

.logo_content>img {
    padding-bottom: 20px;
}

.logo_content>p {
    padding-bottom: 20px;
}

.logo_content>#get-social {
    padding-bottom: 10px;
}

#footer-social-links>#social-list {
    list-style-type: none;
    display: flex;
}

#face>a>.fa-facebook-square {
    margin-right: 8px;
    color: #000;
}

#inst>a>.fa-instagram {
    margin-right: 8px;
    color: #000;
}

#linked>a>.fa-linkedin-square {
    margin-right: 8px;
    color: #000;
}

#twit>a>.fa-twitter {
    color: #000;
}

.footer-items-list>ul {
    list-style-type: none;
}

.footer-items-list>ul>li {
    padding-bottom: 5px;
}

.items-list-heading {
    font-weight: bold;
    padding: 10px 0px 30px 0px;
}

hr {
    border: 0.3px solid #dddada;
    margin: 20px 0px;
}

.copywright {
    display: flex;
    font-size: 14px;
    justify-content: space-between;
    padding-bottom: 20px;
}