*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-color: rgba(22, 19, 19, 0.822);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.hamburger-button{
    border: 1px solid #fff;
    padding: 50px;
    border-radius: 15px;
}

.hamburger{
    position: relative;
    width: 90px;
    height: 8px;
    background-color: #fff;
    border-radius: 15px;
    transition: 0.25s ease-in-out;
}

.hamburger::before,
.hamburger::after{
    content: '';
    position: absolute;
    width: 90px;
    height: 8px;
    background-color: #fff;
    border-radius: 15px;
    transition: 0.5s ease-in-out;
}

.hamburger::before{
    transform: translateY(-25px);
}

.hamburger::after{
    transform: translateY(25px);
}

.animate{
    background-color: transparent;
}

.animate::before{
    transform: rotate(-45deg);
}

.animate::after{
    transform: rotate(45deg);
}