:root {
  --primary-color: linear-gradient(180deg, rgba(137,167,255,1) 0%, rgba(71,111,228,1) 100%);
  --button-color: #EC8E00;
  --header-color: #0B1A47;
  --paragraph-color: #676A8A;
  --category-bg-color: #BDF2E3;
  --category-color: #047D37;
  --paragraph-size: 1.125rem;
  --background-section-color: #F7FBFF; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Inter',sans-serif; }

a, a:visited, a:active {
  text-decoration: none; }

ul {
  list-style-type: none; }

.active {
  color: var(--header-color); }

h1 {
  font-size: 3.75rem;
  font-weight: 700;
  color: var(--header-color); }

h2 {
  font-size: 2.8125rem;
  line-height: 55px;
  color: var(--header-color);
  font-weight: 600; }

h3 {
  font-family: inherit;
  font-size: 1.5rem;
  font-weight: 700;
  color: #12171F; }

h4 {
  font-size: 1.25rem;
  font-weight: 700; }

.fa-check-circle {
  color: #0EB654; }

.container {
  margin: 0 auto;
  max-width: 1140px;
  padding: 0px 10px; }

@media (max-width: 767px) {
  .contact-media {
    display: none; } }

@media (min-width: 768px) {
  .contact-media {
    display: none; } }

@media (min-width: 992px) {
  .contact-media {
    display: inline;
    background-color: var(--background-section-color);
    padding: 16px 0px;
    color: var(--paragraph-color); } }

@media (min-width: 1200px) {
  .contact-media {
    display: inline;
    background-color: var(--background-section-color);
    padding: 16px 0px;
    color: var(--paragraph-color); } }

.contact-media_items {
  display: flex;
  justify-content: space-between;
  padding: 14px 0px; }

.contact-media_items_contact {
  gap: 20.67px;
  display: flex;
  justify-content: space-between; }
  .contact-media_items_contact p i {
    padding-right: 10.74px; }

.contact-media_items_social-media {
  display: flex;
  gap: 24.65px; }
  .contact-media_items_social-media a {
    color: var(--paragraph-color); }

.logo-navbar_items {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px; }

@media (max-width: 767px) {
  .label-menu {
    position: absolute;
    top: 26px;
    right: 10px;
    font-size: 35px; } }

@media (min-width: 768px) {
  .label-menu {
    position: absolute;
    top: 26px;
    right: 10px;
    font-size: 35px; } }

@media (min-width: 992px) {
  .label-menu {
    position: absolute;
    top: 72px;
    right: 10px;
    font-size: 35px; } }

@media (min-width: 1200px) {
  .label-menu {
    display: none; } }

#menu-items {
  display: none; }
  @media (max-width: 767px) {
    #menu-items:checked ~ .logo-navbar_items_menu {
      display: grid; }
      #menu-items:checked ~ .logo-navbar_items_menu nav {
        display: grid;
        position: absolute;
        top: 82px;
        left: 45%;
        text-align: center; }
      #menu-items:checked ~ .logo-navbar_items_menu .logo-navbar_items_menu_button {
        position: absolute;
        top: 84px;
        right: 10px; } }
  @media (min-width: 768px) {
    #menu-items:checked ~ .logo-navbar_items_menu {
      display: grid; }
      #menu-items:checked ~ .logo-navbar_items_menu nav {
        display: grid;
        position: absolute;
        top: 82px;
        left: 45%;
        text-align: center; }
      #menu-items:checked ~ .logo-navbar_items_menu .logo-navbar_items_menu_button {
        position: absolute;
        top: 84px;
        right: 10px; } }
  @media (min-width: 992px) {
    #menu-items:checked ~ .logo-navbar_items_menu {
      display: grid; }
      #menu-items:checked ~ .logo-navbar_items_menu nav {
        display: grid;
        position: absolute;
        top: 119px;
        left: 45%;
        text-align: center; }
      #menu-items:checked ~ .logo-navbar_items_menu .logo-navbar_items_menu_button {
        position: absolute;
        top: 121px;
        right: 10px; } }
  @media (min-width: 1200px) {
    #menu-items:checked ~ .logo-navbar_items_menu {
      margin: auto 0;
      display: flex;
      justify-content: space-between; }
      #menu-items:checked ~ .logo-navbar_items_menu nav {
        display: flex;
        top: 67px;
        right: 0;
        gap: 40px;
        padding-right: 20px; }
      #menu-items:checked ~ .logo-navbar_items_menu .logo-navbar_items_menu_button {
        display: none; } }

@media (max-width: 767px) {
  .logo-navbar_items_menu {
    display: none; } }

@media (min-width: 768px) {
  .logo-navbar_items_menu {
    display: none; } }

@media (min-width: 992px) {
  .logo-navbar_items_menu {
    display: none; } }

@media (min-width: 1200px) {
  .logo-navbar_items_menu {
    margin: auto 0;
    display: flex;
    justify-content: space-between; }
    .logo-navbar_items_menu nav {
      display: flex;
      gap: 40px;
      padding-right: 20px;
      margin: auto;
      font-size: var(--paragraph-size); } }

nav a {
  color: var(--paragraph-color); }

.logo-navbar_items_menu_button {
  padding-left: 20px; }
  .logo-navbar_items_menu_button button {
    padding: 16px 24px;
    background-color: var(--button-color);
    border-radius: 16px;
    border: none;
    font-size: var(--paragraph-size); }
    .logo-navbar_items_menu_button button a {
      color: #fff; }

.banner-items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 36px 0px; }
  @media (max-width: 767px) {
    .banner-items {
      grid-template-columns: repeat(1, 1fr);
      row-gap: 20px; } }

.banner-items_texts {
  margin: auto 0;
  display: grid;
  justify-items: start;
  row-gap: 16px;
  position: relative; }
  .banner-items_texts p span {
    color: var(--category-color);
    font-size: 0.875rem;
    font-weight: 600;
    padding: 10px 24px;
    background-color: var(--category-bg-color);
    border-radius: 20px; }
  .banner-items_texts h1 span img {
    padding-left: 10px; }
  .banner-items_texts p {
    font-size: 1.375rem;
    font-weight: 400;
    line-height: 40px;
    color: var(--paragraph-color); }
  .banner-items_texts button {
    padding: 24px 40px;
    border: none;
    background-color: var(--button-color);
    color: #fff;
    border-radius: 10px;
    margin-top: 32px; }
    .banner-items_texts button a {
      font-family: inherit;
      font-size: 1.125rem;
      font-weight: 600; }
  @media (min-width: 768px) {
    .banner-items_texts .circle {
      display: none; } }
  @media (min-width: 1200px) {
    .banner-items_texts .circle {
      display: inline;
      height: 90px;
      width: 90px;
      background: linear-gradient(149.21deg, #FFFFFF 12.75%, #DAE4FF 86.99%);
      border-radius: 50%;
      position: absolute;
      left: -20%;
      bottom: -30%; } }

.banner-items_images {
  text-align: end;
  position: relative; }
  .banner-items_images img {
    width: 100%; }
  @media (max-width: 767px) {
    .banner-items_images {
      text-align: center; } }
  .banner-items_images_clip {
    clip-path: circle(50% at 50% 50%);
    width: 389px;
    height: 389px;
    background-image: url("/assests/img/doctors/doctor_a.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  @media (min-width: 768px) {
    .banner-items_images_circlea {
      display: inline;
      height: 65px;
      width: 65px;
      background: linear-gradient(149.21deg, #FFFFFF 12.75%, #DAE4FF 86.99%);
      border-radius: 50%;
      position: absolute;
      left: 20px; }
    .banner-items_images_circleb {
      display: inline;
      height: 65px;
      width: 65px;
      background: linear-gradient(149.21deg, #FFFFFF 12.75%, #DAE4FF 86.99%);
      border-radius: 50%;
      position: absolute;
      bottom: 50px;
      right: 5px; } }
  @media (min-width: 992px) {
    .banner-items_images_circlea {
      display: inline;
      height: 65px;
      width: 65px;
      background: linear-gradient(149.21deg, #FFFFFF 12.75%, #DAE4FF 86.99%);
      border-radius: 50%;
      position: absolute;
      left: 20px; }
    .banner-items_images_circleb {
      display: inline;
      height: 65px;
      width: 65px;
      background: linear-gradient(149.21deg, #FFFFFF 12.75%, #DAE4FF 86.99%);
      border-radius: 50%;
      position: absolute;
      bottom: 50px;
      right: 5px; } }
  @media (min-width: 1200px) {
    .banner-items_images_circlea {
      display: inline;
      height: 65px;
      width: 65px;
      background: linear-gradient(149.21deg, #FFFFFF 12.75%, #DAE4FF 86.99%);
      border-radius: 50%;
      position: absolute;
      left: 20px; }
    .banner-items_images_circleb {
      display: inline;
      height: 65px;
      width: 65px;
      background: linear-gradient(149.21deg, #FFFFFF 12.75%, #DAE4FF 86.99%);
      border-radius: 50%;
      position: absolute;
      bottom: 50px;
      right: 5px; } }

.features-items {
  display: grid;
  padding: 21.5px 0px; }
  @media (max-width: 767px) {
    .features-items {
      grid-template-columns: repeat(1, 1fr); } }
  @media (min-width: 768px) {
    .features-items {
      grid-template-columns: repeat(2, 1fr); } }
  @media (min-width: 992px) {
    .features-items {
      grid-template-columns: repeat(3, 1fr); } }

.features-items_emergency {
  border-radius: 10px 0px 0px 10px;
  background: var(--primary-color);
  padding: 40px;
  display: grid;
  justify-items: start;
  row-gap: 30px;
  color: #fff;
  box-shadow: -1px 0px 0px 0px #FFFFFF1A inset; }
  .features-items_emergency p {
    font-size: 1.125rem;
    line-height: 34px;
    font-weight: 400; }
  .features-items_emergency button {
    background-color: transparent;
    border: 1px solid #fff;
    padding: 16px 24px;
    border-radius: 10px; }
    .features-items_emergency button a {
      color: #fff;
      font-size: 1.125rem;
      font-weight: 600; }
      .features-items_emergency button a span {
        padding-left: 8px; }
  @media (max-width: 767px) {
    .features-items_emergency {
      border-radius: 10px 10px 0px 0px; } }

.features-items_timetable {
  background: var(--primary-color);
  padding: 40px;
  display: grid;
  justify-items: start;
  row-gap: 30px;
  color: #fff;
  box-shadow: -1px 0px 0px 0px #FFFFFF1A inset; }
  .features-items_timetable p {
    font-size: 1.125rem;
    line-height: 34px;
    font-weight: 400; }
  .features-items_timetable button {
    background-color: transparent;
    border: 1px solid #fff;
    padding: 16px 24px;
    border-radius: 10px; }
    .features-items_timetable button a {
      color: #fff;
      font-size: 1.125rem;
      font-weight: 600; }
      .features-items_timetable button a span {
        padding-left: 8px; }

.features-items_hours {
  border-radius: 0px 10px 10px 0px;
  background: var(--primary-color);
  padding: 40px;
  display: grid;
  justify-items: start;
  row-gap: 30px;
  color: #fff;
  box-shadow: -1px 0px 0px 0px #FFFFFF1A inset; }
  .features-items_hours p {
    font-size: 1.125rem;
    line-height: 34px;
    font-weight: 400; }
  .features-items_hours button {
    background-color: transparent;
    border: 1px solid #fff;
    padding: 16px 24px;
    border-radius: 10px; }
    .features-items_hours button a {
      color: #fff;
      font-size: 1.125rem;
      font-weight: 600; }
      .features-items_hours button a span {
        padding-left: 8px; }
  @media (max-width: 767px) {
    .features-items_hours {
      border-radius: 0px 0px 10px 10px; } }

hr {
  max-width: 300px;
  background: #FFFFFF1A; }

.features-items_hours_list p {
  display: flex;
  column-gap: 107px;
  padding: 8px 0px;
  box-shadow: 0px 0px 0px -1px #FFFFFF1A inset; }

.break-times {
  box-shadow: 0px 1px 0px #FFFFFF1A inset; }

.welcome {
  padding: 96px 0px;
  background-color: var(--background-section-color); }

.welcome-items {
  display: grid;
  column-gap: 60px; }
  .welcome-items_image {
    text-align: center; }
    .welcome-items_image img {
      width: 100%; }
  @media (max-width: 767px) {
    .welcome-items {
      grid-template-columns: repeat(1, 1fr); } }
  @media (min-width: 768px) {
    .welcome-items {
      grid-template-columns: repeat(1, 1fr); } }
  @media (min-width: 992px) {
    .welcome-items {
      grid-template-columns: repeat(2, 1fr); } }

.welcome-items_texts {
  display: grid;
  row-gap: 16px;
  margin: auto 0;
  justify-items: start;
  font-size: 1.375rem;
  font-weight: 400;
  line-height: 40px;
  color: var(--paragraph-color); }
  .welcome-items_texts p span {
    color: var(--category-color);
    font-size: 0.875rem;
    font-weight: 600;
    padding: 10px 24px;
    background-color: var(--category-bg-color);
    border-radius: 20px; }
  .welcome-items_texts h3 img {
    margin-bottom: -6px; }
  .welcome-items_texts button {
    margin-top: 32px;
    padding: 24px 40px;
    border: none;
    background-color: var(--button-color);
    color: #fff;
    border-radius: 10px; }
    .welcome-items_texts button a {
      font-family: inherit;
      font-size: 1.125rem;
      font-weight: 600; }

.welcome-items_texts_all-caring {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 56px; }
  .welcome-items_texts_all-caring p {
    font-size: 1.125rem; }

.services {
  padding: 96px 0px; }

.services_items {
  text-align: center; }
  .services_items button {
    padding: 24px 40px;
    border: none;
    background-color: var(--button-color);
    color: #fff;
    border-radius: 10px; }
    .services_items button a {
      font-family: inherit;
      font-size: 1.125rem;
      font-weight: 600; }
    .services_items button a {
      color: #fff; }

.services_items_texts {
  display: grid;
  row-gap: 16px; }
  .services_items_texts p span {
    color: var(--category-color);
    font-size: 0.875rem;
    font-weight: 600;
    padding: 10px 24px;
    background-color: var(--category-bg-color);
    border-radius: 20px; }
  .services_items_texts p {
    margin: auto;
    max-width: 651px;
    font-size: 1.375rem;
    font-weight: 400;
    line-height: 40px;
    color: var(--paragraph-color); }

.services_items_list {
  display: grid;
  padding: 52px 0px; }
  @media (max-width: 767px) {
    .services_items_list {
      grid-template-columns: repeat(1, 1fr);
      column-gap: 30px;
      row-gap: 48px; } }
  @media (min-width: 768px) {
    .services_items_list {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 30px;
      row-gap: 48px; } }
  @media (min-width: 992px) {
    .services_items_list {
      grid-template-columns: repeat(3, 1fr);
      column-gap: 30px;
      row-gap: 48px; } }

.services_items_list_card {
  font-family: 'Nunito Sans', sans-serif;
  border-radius: 0px 0px 20px 20px;
  background-color: var(--background-section-color); }
  .services_items_list_card_image {
    padding: 44px 0px;
    border-radius: 20px 20px 0px 0px;
    background: var(--primary-color); }

.services_items_list_card_texts {
  padding: 24px 30px;
  display: grid;
  justify-items: center;
  gap: 11px; }
  .services_items_list_card_texts p {
    line-height: 28px;
    color: var(--paragraph-color);
    font-weight: 400; }
  .services_items_list_card_texts button {
    border: none;
    padding-top: 13px;
    background-color: transparent; }
    .services_items_list_card_texts button a {
      color: var(--button-color); }

.fa-long-arrow-right {
  padding-left: 16px; }
