$screens: (
    sm: 767px,
    md: 768px,
    lg:992px,
    xl: 1200px
);

@function screens($screen-size){
    @return map-get($screens, $screen-size);
}


@mixin media-sm{
    @media(max-width:767px){
        @content;
    }
}

@mixin media-md{
    @media (min-width: screens(md)){
        @content;
    }
}

@mixin media-lg{
    @media (min-width: screens(lg)){
        @content;
    }
}

@mixin media-xl{
    @media (min-width: screens(xl)){
        @content;
    }
}

@mixin paragraph {
    font-size: 1.375rem;
    font-weight: 400;
    line-height: 40px;
    color: var(--paragraph-color);
}

@mixin button {
    padding: 24px 40px;
    border:none;
    background-color: var(--button-color);
    color: #fff;
    border-radius: 10px;
    a{
        font-family: inherit;
        font-size: 1.125rem;
        font-weight: 600;
    }
}

@mixin features-list{
    background: var(--primary-color);
    padding: 40px;
    display: grid;
    justify-items: start;
    row-gap: 30px;
    color: #fff;
    box-shadow: -1px 0px 0px 0px #FFFFFF1A inset;
    p{
        font-size: 1.125rem;
        line-height: 34px;
        font-weight: 400;
    }

    button{
        background-color: transparent;
        border: 1px solid #fff;
        padding: 16px 24px;
        border-radius: 10px;
        a{
            color: #fff;
            font-size: 1.125rem;
            font-weight: 600;
            span{
                padding-left: 8px;
            }
        }
    }
}

@mixin link-category {
    p{
        span{
            color: var(--category-color);
            font-size: 0.875rem;
            font-weight: 600;
            padding: 10px 24px;
            background-color: var(--category-bg-color);
            border-radius: 20px;
        }
    }
}


:root{
    --primary-color: linear-gradient(180deg, rgba(137,167,255,1) 0%, rgba(71,111,228,1) 100%); 
    --button-color: #EC8E00;
    --header-color: #0B1A47;
    --paragraph-color: #676A8A;
    --category-bg-color: #BDF2E3;
    --category-color: #047D37;
    --paragraph-size: 1.125rem;
    --background-section-color: #F7FBFF;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

body{
    font-family: 'Inter',sans-serif;
    background: var(--background-section-color);
}


a, a:visited, a:active{
    text-decoration: none;
}

ul{
    list-style-type: none;
}

.active{
    color: var(--header-color);
}

h1{
    font-size: 3.75rem;
    font-weight: 700;
    color: var(--header-color);
}

h2{
    font-size: 2.8125rem;
    line-height: 55px;
    color: var(--header-color);
    font-weight: 600;
}

h3{
    font-family: inherit;
    font-size: 1.5rem;
    font-weight: 700;
    color: #12171F;
}

h4{
    font-size: 1.25rem;
    font-weight: 700;
}

.fa-check-circle{
    color: #0EB654;
}



.container{
    margin: 0 auto;
    max-width: 1140px;
    padding: 0px 16px;
}

// header-section styling

.contact-media{
    @include media-sm{
        display: none;
    }
    @include media-md{
        display: none;
    }
    @include media-lg{
        display: inline;
        background-color: var(--background-section-color);
        padding: 16px 0px;
        color: var(--paragraph-color);
    }
    @include media-xl{
        display: inline;
        background-color: var(--background-section-color);
        padding: 16px 0px;
        color: var(--paragraph-color);
    }
}


.contact-media_items{
    display: flex;
    justify-content: space-between;
    padding: 14px 0px;
}

.contact-media_items_contact{
    gap: 20.67px;
    display: flex;
    justify-content: space-between;
    p{
        i{
            padding-right: 10.74px;
        }
    }
}

.contact-media_items_social-media{
    display: flex;
    gap: 24.65px;
    a{
        color: var(--paragraph-color);
    }
}

.logo-navbar{
    background: #FFF;
    &_items{
        display: flex;
        justify-content: space-between;
        padding: 20px 0px;
    }
}

.label-menu{
    @include media-sm{
        position: absolute;
        top: 26px;
        right: 10px;
        font-size: 35px;
    }
    @include media-md{
        position: absolute;
        top: 26px;
        right: 10px;
        font-size: 35px;
    }
    @include media-lg{
        position: absolute;
        top: 72px;
        right: 10px;
        font-size: 35px;
    }
    @include media-xl{
        display: none;
    }
}

#menu-items{
    display: none;
    @include media-sm{
        &:checked ~ .logo-navbar_items_menu{
            display: grid;
            nav{
                display: grid;
                position: absolute;
                top: 82px;
                left: 45%;
                text-align: center;
            }
            .logo-navbar_items_menu_button{
                position: absolute;
                top: 84px;
                right: 10px;
            }
        }
    } 
    @include media-md{
        &:checked ~ .logo-navbar_items_menu{
            display: grid;
            nav{
                display: grid;
                position: absolute;
                top: 82px;
                left: 45%;
                text-align: center;
            }
            .logo-navbar_items_menu_button{
                position: absolute;
                top: 84px;
                right: 10px;
            }
        }
    } 
    @include media-lg{
        &:checked ~ .logo-navbar_items_menu{
            display: grid;
            nav{
                display: grid;
                position: absolute;
                top: 119px;
                left: 45%;
                text-align: center;
            }
            .logo-navbar_items_menu_button{
                position: absolute;
                top: 121px;
                right: 10px;
            }
        }
    }
    @include media-xl{
        &:checked ~ .logo-navbar_items_menu{
            margin: auto 0;
            display: flex;
            justify-content: space-between;
            nav{
                display: flex;
                top: 67px;
                right: 0;
                gap: 40px;
                padding-right: 20px;
            }
            .logo-navbar_items_menu_button{
                display: none;
            }
        }
    }       
}

.logo-navbar_items_menu{
    @include media-sm{
        display: none;
    }
    @include media-md{
        display: none;
    }
    @include media-lg{
        display: none;
    }
    @include media-xl{
        margin: auto 0;
        display: flex;
        justify-content: space-between;
        nav{
            display: flex;
            gap: 40px;
            padding-right: 20px;
            margin: auto;
            font-size: var(--paragraph-size);
        }
    }
}

nav{
    a{
        color: var(--paragraph-color);
    }
}

.logo-navbar_items_menu_button{
    padding-left: 20px;
    button{
        padding: 16px 24px;
        background-color: var(--button-color);
        border-radius: 16px;
        border: none;
        font-size: var(--paragraph-size);
        a{
            color: #fff;
        }
    }
}

// banner-section styling
.banner{
    background-color: #fff;
}

.banner-items{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 36px 0px;
    @include media-sm{
        grid-template-columns: repeat(1,1fr);
        row-gap: 20px;
    }
}

.banner-items_texts{
    margin: auto 0;
    display: grid;
    justify-items: start;
    row-gap: 16px;
    position: relative;
    @include link-category;
    h1{
        span{
            img{
                padding-left: 10px; 
            }
        }
    }
    p{
        @include paragraph;
    }

    button{
        @include button;
        margin-top: 32px;
    }
    @include media-md{
        .circle{
            display: none;
        }
    }
    @include media-xl{
        .circle{
            display: inline;
            height: 90px;
            width: 90px;
            background: linear-gradient(149.21deg, #FFFFFF 12.75%, #DAE4FF 86.99%);
            border-radius: 50%;
            position: absolute;
            left: -20%;
            bottom: -30%;
        }
    }
}

.banner-items_images{
    text-align: end;
    position: relative;
    @include media-sm{
        text-align: center;
    }
    &_clip{
        clip-path: circle(50% at 50% 50%);
        width: 389px;
        height: 389px;
        background-image: url('/assests/img/doctors/doctor_a.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    @include media-md{
        &_circlea{
            display: inline;
            height: 65px;
            width: 65px;
            background: linear-gradient(149.21deg, #FFFFFF 12.75%, #DAE4FF 86.99%);
            border-radius: 50%;
            position: absolute;
            left: 20px;
        }
        &_circleb{
            display: inline;
            height: 65px;
            width: 65px;
            background: linear-gradient(149.21deg, #FFFFFF 12.75%, #DAE4FF 86.99%);
            border-radius: 50%;
            position: absolute;
            bottom: 50px;
            right: 5px;
        }
    }
    @include media-lg{
        &_circlea{
            display: inline;
            height: 65px;
            width: 65px;
            background: linear-gradient(149.21deg, #FFFFFF 12.75%, #DAE4FF 86.99%);
            border-radius: 50%;
            position: absolute;
            left: 20px;
        }
        &_circleb{
            display: inline;
            height: 65px;
            width: 65px;
            background: linear-gradient(149.21deg, #FFFFFF 12.75%, #DAE4FF 86.99%);
            border-radius: 50%;
            position: absolute;
            bottom: 50px;
            right: 5px;
        }
    }
    @include media-xl{
        &_circlea{
            display: inline;
            height: 65px;
            width: 65px;
            background: linear-gradient(149.21deg, #FFFFFF 12.75%, #DAE4FF 86.99%);
            border-radius: 50%;
            position: absolute;
            left: 20px;
        }
        &_circleb{
            display: inline;
            height: 65px;
            width: 65px;
            background: linear-gradient(149.21deg, #FFFFFF 12.75%, #DAE4FF 86.99%);
            border-radius: 50%;
            position: absolute;
            bottom: 50px;
            right: 5px;
        }
    }
}


// short-features-section styling
.features{
    background-color: #fff;
}

.features-items{
    display: grid;
    padding: 21.5px 0px;
    @include media-sm{
        grid-template-columns: repeat(1,1fr);
    }
    @include media-md{
        grid-template-columns: repeat(2,1fr);
    }
    @include media-lg{
        grid-template-columns: repeat(3,1fr);
    }
}

.features-items_emergency{
    border-radius: 10px 0px 0px 10px;
    @include features-list;
    @include media-sm{
        border-radius: 10px 10px 0px 0px;
    }
}

.features-items_timetable{
    @include features-list;
}

.features-items_hours{ 
    border-radius: 0px 10px 10px 0px;
    @include features-list;
    @include media-sm{
        border-radius: 0px 0px 10px 10px;
    }
}

hr{
    max-width: 300px;
    background: #FFFFFF1A;
}

.features-items_hours_list{
    p{
        display: flex;
        column-gap: 107px;
        padding: 8px 0px;
        box-shadow: 0px 0px 0px -1px #FFFFFF1A inset;

    }
}

.break-times{
    box-shadow: 0px 1px 0px #FFFFFF1A inset;
}

// welcome-section styling

.welcome{
    padding: 0px 0px 96px 0px;
    background-color: var(--background-section-color);
}

.welcome-items{
    display: grid;
    column-gap: 60px;
    &_image{
        text-align: center;
    }
    @include media-sm{
        grid-template-columns: repeat(1,1fr);
        
    }
    @include media-md{
        grid-template-columns: repeat(1,1fr);
        
    }
    @include media-lg{
        grid-template-columns: repeat(2,1fr);
    }
}

.welcome-items_texts{
    display: grid;
    row-gap: 16px;
    margin: auto 0;
    justify-items: start;
    @include link-category;
    @include paragraph;
    h3{
        img{
            margin-bottom: -6px;
        }
    }
    button{
        margin-top: 32px;
        @include button;
    }
}

.welcome-items_texts_all-caring{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 56px;
    p{
        font-size: 1.125rem;
    }  
}

// our-services styling
.services{
    padding: 96px 0px;
    background-color: #fff;
}

.services_items{
    position: relative;
    text-align: center;
    button{
        @include button;
        a{
            color: #fff;
        }
    }
}

.services_items_texts{
    @include link-category;
    display: grid;
    row-gap: 16px;
    p{
        margin: auto;
        max-width: 651px;
        @include paragraph;
    }
}

.services_items_list{
    display: grid;
    padding: 52px 0px;
    @include media-sm{
        grid-template-columns: repeat(1,1fr);
        column-gap: 30px;
        row-gap: 48px;
    }
    @include media-md(){
        grid-template-columns: repeat(2,1fr);
        column-gap: 30px;
        row-gap: 48px;
    }
    @include media-lg(){
        grid-template-columns: repeat(3,1fr);
        column-gap: 30px;
        row-gap: 48px;
    }
}

.services_items_list_card{
    font-family: 'Nunito Sans', sans-serif;
    border-radius: 0px 0px 20px 20px;
    background-color: var(--background-section-color);
    &_image{
        padding: 44px 0px;
        border-radius: 20px 20px 0px 0px;
        background: var(--primary-color);
    }
}

.services_items_list_card_texts{
    padding: 24px 30px;
    display: grid;
    justify-items: center;
    gap: 11px;
    p{
        line-height: 28px;
        color: var(--paragraph-color);
        font-weight: 400;
    }
    button{
        border: none;
        padding-top: 13px;
        background-color: transparent;
        a{
            color: var(--button-color);
        }
    }
}

.fa-long-arrow-right{
    padding-left: 16px;
}


//process-section styling

.process{
    padding: 96px 0px;
}

.process-items_header{
    display: grid;
    column-gap: 30px;
    row-gap: 30px;
    &_title{
        @include link-category;
        h2{
            padding: 15px 0px 32px 0px;
        }
    }
    &_paragraph{
        @include paragraph;
        margin: auto 0;
        text-align: center;
    }

    @include media-sm{
        grid-template-columns: repeat(1,1fr);
        &_title{
            text-align: center;
        }
    }
    @include media-md{
        grid-template-columns: repeat(1,1fr);
        &_title{
            text-align: center;
        }
    }
    @include media-lg{
        grid-template-columns: repeat(2,1fr);
        &_title{
            text-align: start;
        }
    }
}

.process-items_list{
    display: grid;
    column-gap: 30px;
    row-gap: 30px;
    padding: 64px 0px 51px 0px;
    @include media-sm{
        grid-template-columns: repeat(1,1fr);
    }
    @include media-md{
        grid-template-columns: repeat(2,1fr);
    }
    @include media-lg{
        grid-template-columns: repeat(3,1fr);
    }
    @include media-xl{
        grid-template-columns: repeat(4,1fr);
    }
}


.process-items_list_card{
    text-align: center;
    padding: 56px 47px;
    background-color: #fff;
    border-radius: 10px;
    color: var(--header-color);
    box-shadow: 0px 12px 48px 0px #15243B14;
    &_image{
        margin: 0 auto;
        max-width: 130px;
        padding: 30px 0px;
        border-radius: 50%;
        background:linear-gradient(180deg, rgba(254,235,238,1) 0%, rgba(255,182,200,1) 100%);
    }
    &_text{
        font-size: 1.56rem;
        padding-top: 40px;
        font-weight: 600;
    }
    &:hover{
        background: var(--primary-color);
        color: #fff;
    }
}

.color-calendar{
    background: linear-gradient(180deg, #ECF9FF 0%, #B4E6FF 100%);
}

.color-caller{
    background: linear-gradient(180deg, #F6FFF1 0%, #D2FFA7 100%);
}

.color-medicine{
    background: linear-gradient(180deg, #FFFAEF 0%, #FFB763 100%);
}

.card-dot{
    position: relative;
}

.dots-image{
    @include media-sm{
        display: none;
    }
    @include media-md{
        display: none;
    }
    @include media-lg{
        display: none;
    }
    @include media-xl{
        display: block;
        position: absolute;
        z-index: -1;
        right: -88px;
    }
}

// appointment section styling
 .appointment{
    padding: 96px 0px;
    background-color: #fff;
 }

 .appointment-items{
    display: grid;
    @include media-sm{
        grid-template-columns: repeat(1,1fr);
    }
    @include media-lg{
        grid-template-columns: repeat(2,1fr);
    }
    @include media-xl{
        grid-template-columns: repeat(2,1fr);
    }
 }

 .appointment-items_texts{
    display: grid;
    row-gap: 15px;
    @include link-category;
 }

 .appointment-items_form{
    padding: 40px 32px;
    border-radius: 20px;
    box-shadow: 0px 12px 48px 0px #15243B14;
    display: grid;
    button{
        @include button;
        a{
            color: #fff;
            @include media-sm{
                font-size: 1rem;
            }
        }
    }
 }

 

input[type=text],select{
    border: 1px solid rgba(233, 233, 233, 0.603);
    padding: 16px 14px;
    border-radius: 10px;
    width: 100%;
    margin: 8px 0px 32px 0px;
    &::placeholder{
        font-family: inherit;
        color: rgb(184, 184, 184);
    }
    &:focus{
        border: 1px solid var(--button-color);
    }
    &::selection{
        border: 1px solid var(--button-color);
    }
}

// mobile-app section

.mobile{
    padding: 96px 0px;
}

.mobile-items{
    display: grid;
    column-gap: 78px;
    row-gap: 20px;
    @include media-sm{
        grid-template-columns: repeat(1,1fr);
    }
    @include media-md{
        grid-template-columns: repeat(1,1fr);
    }
    @include media-lg{
        grid-template-columns: repeat(2,1fr);
        
    }
}


.mobile-items_texts{
    @include link-category;
    @include paragraph;
    display: grid;
    row-gap: 16px;
}

.services_items_lists{
    display: grid;
    column-gap: 30px;
    row-gap: 20px;
    grid-template-columns: repeat(4,1fr);
    padding: 64px 0px;
}

.services_items_list_cards{
    h4{
        color: #fff;
    }
    p{
        color: #fff;
    }
}