@mixin small-mobile-view{
    @media (min-width: $small-mobile-view){
        @content;
    }
}


@mixin mobile-view{
    @media (min-width: $mobile-view){
        @content;
    }
}

@mixin tablet-view{
    @media (min-width: $tablet-view){
        @content;
    }
}

@mixin small-desktop-view{
    @media (min-width: $small-desktop-view){
        @content;
    }
}

@mixin desktop-view{
    @media (min-width: $desktop-view){
        @content;
    }
}

@mixin space-between{
    display: flex;
    justify-content: space-between;
}


@mixin background-icons{
    i{
        font-size: 18px;
        padding: 20px;
        border-radius: 50%;
        background-color: #F2F4EF;
        color: colors(primary);
    }
}