$colors:(primary: #4E7302, button: 
#FAB73A);
$font-family: 'Manrope',sans-serif;
$mobile-view: (minWidth: 100px, maxWidth: 568px);
$tablet-view: (minWidth: 569px, maxWidth: 1023px);
$desktop-view: 1024px;