$colors:(primary: #4E7302, button: 
#FAB73A);
$font-family: 'Manrope',sans-serif;
$small-mobile-view: 210px;
$mobile-view: 576px;
$tablet-view: 768px;
$small-desktop-view: 992px;
$desktop-view:1200px;