* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
}

a, a:visited {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style-type: none;
  display: flex;
}

button {
  border: none;
}

.fa-phone, .fa-envelope {
  padding-right: 0.56rem;
}

button {
  border-radius: 1rem;
  background-color: #FAB73A;
}

.container {
  margin: auto;
  padding: 0px 20px;
}
@media only screen and (max-width: 600px) {
  .container {
    margin: auto;
    max-width: 540px;
  }
}
@media (min-width: 601px) and (max-width: 991px) {
  .container {
    margin: auto;
    max-width: 720px;
  }
}
@media only screen and (min-width: 992px) {
  .container {
    margin: auto;
    max-width: 960px;
  }
}
@media only screen and (min-width: 1200px) {
  .container {
    margin: auto;
    max-width: 1170px;
  }
}

.top-section {
  background-color: #4E7302;
  padding: 16px 0px;
  color: #fff;
}
@media only screen and (max-width: 600px) {
  .top-section {
    display: none;
  }
}
@media (min-width: 601px) and (max-width: 991px) {
  .top-section {
    display: none;
  }
}

.top-section_items {
  display: flex;
  justify-content: space-between;
}
.top-section_items_social ul {
  gap: 1.25rem;
}
.top-section_items_mail ul {
  gap: 1.56rem;
}

@media only screen and (min-width: 992px) {
  .section-top {
    background-color: #4E7302;
    padding: 16px 0px;
    color: #fff;
  }
}
.section-top_items {
  display: flex;
  justify-content: space-between;
}

.login-items {
  padding: 35px 0px;
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 600px) {
  .login-items_hamburger {
    position: relative;
    margin: auto 0;
    float: left;
    font-size: 1.5em;
    opacity: 1;
  }
}
@media (min-width: 601px) and (max-width: 991px) {
  .login-items_hamburger {
    position: relative;
    margin: auto 0;
    float: left;
    font-size: 1.5em;
    opacity: 1;
  }
}
@media only screen and (min-width: 992px) {
  .login-items_hamburger {
    opacity: 0;
  }
}
@media only screen and (min-width: 1200px) {
  .login-items_hamburger {
    opacity: 0;
  }
}
.login-items_details {
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 600px) {
  .login-items_details {
    display: none;
  }
}
@media (min-width: 601px) and (max-width: 991px) {
  .login-items_details {
    display: none;
  }
}

.login-items_details {
  gap: 24px;
}
.login-items_details_user {
  display: flex;
  gap: 12px;
}
.login-items_details_user_icon {
  margin: auto;
}
.login-items_details_user_icon i {
  font-size: 18px;
  padding: 20px;
  border-radius: 50%;
  background-color: #F2F4EF;
  color: #4E7302;
}
.login-items_details_user_texts {
  margin: auto;
}
.login-items_details_cart {
  display: flex;
  gap: 12px;
}
.login-items_details_cart_icon {
  margin: auto;
}
.login-items_details_cart_icon i {
  font-size: 18px;
  padding: 20px;
  border-radius: 50%;
  background-color: #F2F4EF;
  color: #4E7302;
}
.login-items_details_cart_texts {
  margin: auto;
}
.login-items_details_search {
  padding-left: 24px;
  margin: auto;
}
.login-items_details_search i {
  font-size: 18px;
  padding: 20px;
  border-radius: 50%;
  background-color: #FAB73A;
}

@media only screen and (max-width: 600px) {
  .navbar {
    display: none;
  }
}
@media (min-width: 601px) and (max-width: 991px) {
  .navbar {
    display: none;
  }
}
@media only screen and (min-width: 992px) {
  .navbar {
    padding: 24px 0px;
    border-top: 0.1rem solid rgba(241, 241, 241, 0.589);
  }
}
@media only screen and (min-width: 1200px) {
  .navbar {
    padding: 24px 0px;
    border-top: 0.1rem solid rgba(241, 241, 241, 0.589);
  }
}

.navbar-items {
  display: flex;
  justify-content: space-between;
}
.navbar-items_menu {
  font-size: 1.125em;
  font-weight: bold;
}
.navbar-items_menu ul {
  gap: 56px;
}
.navbar-items_phone {
  font-size: 1.125rem;
}
.navbar-items_phone .fa-phone {
  font-size: 1.31rem;
}
@media only screen and (max-width: 600px) {
  .navbar-items {
    display: none;
  }
}
@media (min-width: 601px) and (max-width: 991px) {
  .navbar-items {
    display: none;
  }
}

.banner {
  background-image: url("/assets/images/banner/banner.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 105px 0px;
}
.banner .container {
  height: 100%;
}

.banner-content {
  width: 45%;
}
.banner-content h1 {
  font-size: 4em;
  font-weight: 900;
  text-transform: capitalize;
  padding-bottom: 24px;
}
.banner-content p {
  font-size: 1.25em;
  line-height: 34px;
  padding-bottom: 40px;
}
.banner-content_btn-shop-all {
  font-size: 1.13rem;
  padding: 1.09rem 1.5rem;
}
.banner-content_btn-shop-all span {
  padding-right: 0.6rem;
}

.features {
  margin-top: -50px;
}
.features-list {
  background-color: #fff;
  border-radius: 15px;
}

.features-list_content {
  padding: 56px 70px;
  display: flex;
  justify-content: space-between;
}
.features-list_content i {
  padding: 20px;
  border-radius: 25%;
  background-color: #F2F4EF;
  color: #4E7302;
}
.features-list_content_item {
  display: flex;
  justify-content: space-between;
}
.features-list_content_item i {
  margin: auto;
  font-size: 1.18rem;
}
.features-list_content_text {
  font-size: 1.25rem;
  margin: auto;
  padding-left: 16px;
}
@media only screen and (max-width: 600px) {
  .features-list_content {
    display: grid;
    justify-content: center;
  }
  .features-list_content_item {
    display: grid;
    justify-content: center;
    text-align: center;
  }
  .features-list_content_text {
    padding-top: 10px;
  }
  .features-list_content .feature-cart {
    padding-bottom: 15px;
  }
  .features-list_content .feature-team {
    padding-bottom: 15px;
  }
}
@media (min-width: 601px) and (max-width: 991px) {
  .features-list_content {
    display: grid;
    justify-content: center;
  }
  .features-list_content .feature-cart {
    padding-bottom: 15px;
  }
  .features-list_content .feature-team {
    padding-bottom: 15px;
  }
}

.arrival {
  padding: 96px 0px;
}
.arrival-context {
  text-align: center;
}
.arrival-context h1 {
  font-size: 2.75rem;
  padding-bottom: 1rem;
}
.arrival-context p {
  font-size: 1.2rem;
  padding-bottom: 3rem;
}

.arrival-context_menu ul {
  justify-content: space-evenly;
  font-weight: 600;
  padding-bottom: 48px;
}
.arrival-context_list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 20px;
}
@media only screen and (max-width: 600px) {
  .arrival-context_list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 20px;
  }
}
@media (min-width: 601px) and (max-width: 991px) {
  .arrival-context_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 20px;
  }
}

.arrival-context_list_card {
  position: relative;
  text-align: start;
  box-shadow: 1px 4px 29px -13px rgba(0, 0, 0, 0.31);
}
.arrival-context_list_card img {
  background-color: #f8eced;
  border-radius: 15px 15px 0px 0px;
}
.arrival-context_list_card_category p {
  font-size: 0.75rem;
  font-weight: 700;
  padding: 24px 0px 2px 24px;
}
.arrival-context_list_card_title p {
  font-size: 1.13rem;
  padding: 2px 0px 9px 24px;
}
.arrival-context_list_card_price {
  display: flex;
  padding: 0px 0px 0px 24px;
  gap: 8px;
}
.arrival-context_list_card_price p {
  padding: 0px 0px 5px 0px;
}
@media only screen and (max-width: 600px) {
  .arrival-context_list_card {
    margin-bottom: 30px;
  }
}
@media (min-width: 601px) and (max-width: 991px) {
  .arrival-context_list_card {
    margin-bottom: 30px;
  }
}
@media only screen and (min-width: 992px) {
  .arrival-context_list_card {
    margin-bottom: 30px;
  }
}

.left-align_category {
  position: absolute;
  top: 15px;
  left: 15px;
  background-color: #F84D4D;
  font-size: 12px;
  padding: 4px 12px;
  border-radius: 50px;
  letter-spacing: 2px;
  font-weight: 600;
  color: #fff;
}

.hover-items {
  margin-top: -25px;
  gap: 16px;
  display: flex;
  justify-content: center;
}
.hover-items .fa-shopping-cart,
.hover-items .fa-eye {
  padding: 15px;
  font-size: 15px;
  color: #000;
  background-color: #fff;
  border-radius: 50%;
}
.hover-items .fa-heart {
  padding: 15px;
  font-size: 15px;
  color: #fff;
  background-color: #F84D4D;
  border-radius: 50%;
}

.seasonal-category {
  background-color: #FAB73A;
}

.featured-category {
  color: #336838;
  background-color: #91C997;
}

.price-all p b {
  color: #4E7302;
  font-weight: bold;
}

.sold-out p b {
  color: #F84D4D;
}
.sold-out p {
  color: #F84D4D;
}

.three-dots {
  margin: 32px 0px 64px 0px;
}
.three-dots_dot {
  height: 10px;
  width: 10px;
  background-color: #e3e3e3;
  border-radius: 50%;
  display: inline-block;
}
.three-dots_dot_active {
  height: 10px;
  width: 10px;
  background-color: #4E7302;
  border-radius: 50%;
  display: inline-block;
}

.button-view-all button {
  padding: 17.5px 24px;
  font-size: 1.12rem;
}/*# sourceMappingURL=styles.css.map */