* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
}

a, a:visited {
  text-decoration: none;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 10px;
}

button {
  border: none;
}

@media (min-width: 210px) {
  .top-section {
    display: none;
  }
}
@media (min-width: 576px) {
  .top-section {
    display: none;
  }
}
@media (min-width: 768px) {
  .top-section {
    display: none;
  }
}
@media (min-width: 992px) {
  .top-section {
    display: inline;
  }
}
@media (min-width: 1200px) {
  .top-section {
    display: inline;
  }
}

.section-top {
  background-color: #4E7302;
  padding: 16px 0px;
  color: #fff;
}

@media (min-width: 210px) {
  .container {
    margin: auto;
    max-width: 340px;
  }
}
@media (min-width: 576px) {
  .container {
    margin: auto;
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    margin: auto;
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    margin: auto;
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
    margin: auto;
  }
}

.section-top_items {
  display: flex;
  justify-content: space-between;
}

.top_items_media ul li a {
  color: #fff;
}

.section-logo-items {
  padding: 15px 0px;
}

.section-logo_account {
  display: flex;
  justify-content: space-between;
}

@media (min-width: 210px) {
  .section-account {
    display: none;
  }
}
@media (min-width: 576px) {
  .section-account {
    display: none;
  }
}
@media (min-width: 768px) {
  .section-account {
    display: none;
  }
}
@media (min-width: 992px) {
  .section-account {
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 1200px) {
  .section-account {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 210px) {
  .hamburger-icon {
    position: relative;
    margin: auto 0;
    float: left;
    font-size: 1.5em;
    opacity: 1;
  }
}
@media (min-width: 576px) {
  .hamburger-icon {
    position: relative;
    margin: auto 0;
    float: left;
    font-size: 1.5em;
    opacity: 1;
  }
}
@media (min-width: 768px) {
  .hamburger-icon {
    position: relative;
    margin: auto 0;
    float: left;
    font-size: 1.5em;
    opacity: 1;
  }
}
@media (min-width: 992px) {
  .hamburger-icon {
    opacity: 0;
  }
}
@media (min-width: 1200px) {
  .hamburger-icon {
    opacity: 0;
  }
}

#check {
  display: none;
}

.section-login {
  display: flex;
  padding: 0px 15px;
}

.login-icon {
  margin: auto;
}
.login-icon i {
  font-size: 18px;
  padding: 20px;
  border-radius: 50%;
  background-color: #F2F4EF;
  color: #4E7302;
}

.login-icon_texts {
  margin: auto;
  padding-left: 10px;
}

.section-cart {
  display: flex;
  padding: 0px 15px;
}

.cart-icon {
  margin: auto;
}
.cart-icon i {
  font-size: 18px;
  padding: 20px;
  border-radius: 50%;
  background-color: #F2F4EF;
  color: #4E7302;
}

.cart-icon_texts {
  margin: auto;
  padding-left: 10px;
}

.section-search {
  margin: auto;
}
.section-search i {
  font-size: 18px;
  padding: 20px;
  border-radius: 50%;
  background-color: #FAB73A;
}

.items-list {
  display: flex;
  justify-content: space-between;
}
@media (min-width: 210px) {
  .items-list {
    display: none;
  }
}
@media (min-width: 576px) {
  .items-list {
    display: none;
  }
}
@media (min-width: 768px) {
  .items-list {
    display: none;
  }
}
@media (min-width: 992px) {
  .items-list {
    display: flex;
    padding: 0.5rem 0rem 1.5rem 0rem;
  }
}
@media (min-width: 1200px) {
  .items-list {
    display: flex;
    font-size: 1.2rem;
  }
}

@media (min-width: 576px) {
  .navbar-items {
    padding: 0;
  }
}
@media (min-width: 768px) {
  .navbar-items {
    padding: 0;
  }
}

.navbar ul {
  gap: 35px;
}
.navbar ul li {
  font-weight: 700;
}

.banner-image {
  position: relative;
}

@media (min-width: 210px) {
  .banner-image_items {
    top: 10%;
    position: absolute;
    max-width: 140px;
  }
  .banner-image_items h1 {
    font-size: 0.7rem;
  }
  .banner-image_items p {
    padding: 0.6rem 0rem;
    font-size: 0.6rem;
  }
  .banner-image_items button {
    border-radius: 1em;
    background-color: #FAB73A;
    padding: 0.5rem 1rem;
    font-size: 0.7rem;
  }
}
@media (min-width: 576px) {
  .banner-image_items {
    top: 15%;
    position: absolute;
    max-width: 180px;
  }
  .banner-image_items h1 {
    font-size: 1.5rem;
  }
  .banner-image_items p {
    padding: 0.6rem 0rem;
    font-size: 0.8rem;
  }
  .banner-image_items button {
    border-radius: 1em;
    background-color: #FAB73A;
    padding: 0.5rem 1rem;
    font-size: 0.7rem;
  }
}
@media (min-width: 768px) {
  .banner-image_items {
    top: 15%;
    position: absolute;
    max-width: 280px;
  }
  .banner-image_items h1 {
    font-size: 2.5rem;
  }
  .banner-image_items p {
    padding: 1rem 0rem;
    font-size: 1rem;
  }
  .banner-image_items button {
    border-radius: 1em;
    background-color: #FAB73A;
    padding: 0.7rem 1rem;
    font-size: 0.8rem;
  }
}
@media (min-width: 992px) {
  .banner-image_items {
    top: 18%;
    position: absolute;
    max-width: 380px;
  }
  .banner-image_items h1 {
    font-size: 3.3rem;
  }
  .banner-image_items p {
    padding: 1.5rem 0rem;
    font-size: 1.2rem;
  }
  .banner-image_items button {
    border-radius: 1em;
    background-color: #FAB73A;
    padding: 1rem 1.3rem;
    font-size: 1rem;
  }
}
@media (min-width: 1200px) {
  .banner-image_items {
    top: 20%;
    position: absolute;
    max-width: 410px;
  }
  .banner-image_items h1 {
    font-size: 4rem;
  }
  .banner-image_items p {
    padding: 2.3rem 0rem;
    font-size: 1.2rem;
    font-weight: 600;
  }
  .banner-image_items button {
    border-radius: 1em;
    background-color: #FAB73A;
    padding: 1rem 1.3rem;
    font-size: 1rem;
  }
}/*# sourceMappingURL=styles.css.map */