@import 'boilerplate';
@import 'functions';
@import 'mixin';
@import 'variables';



.section-top{
    background-color: colors(primary);
    padding: 16px 0px;
    color: #fff;
    @include mobile-view{
        display: none;
    }
    @include tablet-view{
        display: none;
    }
}

.container{
    max-width: 1170px;
    margin: auto;
}

.section-top_items{
    display: flex;
    justify-content: space-between;
    
}

.top_items_media{
    ul{
        li{
            a{
                color: #fff;
            }
        }
    }
}

.section-logo-items{
    padding: 15px 0px;
    @include mobile-view{
        padding: 0px 0px;
    }

    @include tablet-view{
        padding: 0px 0px;
    }
}

.section-logo_account{
    @include space-between;
    @include mobile-view{
        margin: 15px;
    }
    @include tablet-view{
        margin: 15px;
    }
}

.section-account{
    @include space-between;
    @include mobile-view{
        display: none;
    }
    @include tablet-view{
        display: none;
    }
}

.hamburger-icon{
    opacity: 0;
    @include mobile-view{
        position: relative;
        margin: auto 0;
        float: left;
        font-size: 1.5em;
        opacity: 1;
    }
    @include tablet-view{
        position: relative;
        margin: auto 0;
        float: left;
        font-size: 1.5em;
        opacity: 1;
    }
}

#check{
    display: none;
  }


.section-login{
    display: flex;
    padding: 0px 15px;
}

.login-icon{
    margin: auto;
    @include background-icons;
}

.login-icon_texts{
    margin: auto;
    padding-left: 10px;
}

.section-cart{
    display: flex;
    padding: 0px 15px;
}

.cart-icon{
    margin: auto;
    @include background-icons;
}

.cart-icon_texts{
    margin: auto;
    padding-left: 10px;
}


.section-search{
    margin: auto;
    i{
        font-size: 18px;
        padding: 20px;
        border-radius: 50%;
        background-color: colors(button);
    }
}


.items-list{
    @include space-between;
    @include mobile-view{
        display: none;
    }

    @include tablet-view{
        display: none;
    }
}

.navbar-items{
    padding: 20px 0px;
    @include mobile-view{
        padding:0;
    }

    @include tablet-view{
        padding:0;
    }
}

.navbar{
    ul{
        gap: 35px;
        li{
            font-weight: 700;
        }
    }
    
}

.banner-image{
    position: relative;
}

.banner-image_items{
    position: absolute;
    top: 25%;
    max-width: 400px;
    h1{
        font-size: 4rem;
    }
    p{
        padding: 3.75rem 0rem;
        font-size: 1.25rem;
        font-weight: 500;
    }

    button{
        background-color: colors(button);
        padding: 1rem 2rem;
        border-radius: 10px;
        font-size: 1.125rem;
    }
    @include mobile-view{
        top:15%;
        padding-left: 20px;
        max-width: 150px;
        h1{
            font-size: 1rem;
        }
        p{
            padding: 0.6rem 0rem;
            font-size: 0.8rem;
        }

        button{
            padding: 0.5rem 1rem;
            font-size: 0.7rem;
        }
    }
    @include tablet-view{
        top: 15%;
        padding-left: 20px;
        max-width: 200px;
        h1{
            font-size: 1.6rem;
        }

        p{
            padding: 1rem 0rem;
            font-size: 1rem;
        }
        button{
            padding: 0.3rem 0.8rem;
            font-size: 0.8rem;
        }
    }

}