@import 'boilerplate';
@import 'functions';
@import 'mixin';
@import 'variables';


.top-section{
    @include small-mobile-view{
        display: none;
    }
    @include mobile-view{
        display: none;
    }
    @include tablet-view{
        display: none;
    }
    @include small-desktop-view{
        display: inline;
    }
    @include desktop-view{
        display: inline;
    }
}


.section-top{
    background-color: colors(primary);
    padding: 16px 0px;
    color: #fff;
}

.container{ 
    @include small-mobile-view{
        margin: auto;
        max-width: 340px;
    }
   
    @include mobile-view{
        margin: auto;
        max-width: 540px;
    }

    @include tablet-view{
        margin: auto;
        max-width: 720px;
    }

    @include small-desktop-view{
        margin: auto;
        max-width: 960px;
    }

    @include desktop-view{
        max-width: 1140px;
        margin: auto;
    }
}

.section-top_items{
    display: flex;
    justify-content: space-between;
}

.top_items_media{
    ul{
        li{
            a{
                color: #fff;
            }
        }
    }
}

.section-logo-items{
    padding: 15px 0px;
   
}

.section-logo_account{
    @include space-between;
}

.section-account{
    @include small-mobile-view{
        display: none;
    }
    @include mobile-view{
        display: none;
    }
    @include tablet-view{
        display: none;
    }
    @include small-desktop-view{
        @include space-between;
    }
    @include desktop-view{
        @include space-between;
    }
}

.hamburger-icon{
    @include small-mobile-view{
        position: relative;
        margin: auto 0;
        float: left;
        font-size: 1.5em;
        opacity: 1;
    }
    @include mobile-view{
        position: relative;
        margin: auto 0;
        float: left;
        font-size: 1.5em;
        opacity: 1;
    }
    @include tablet-view{
        position: relative;
        margin: auto 0;
        float: left;
        font-size: 1.5em;
        opacity: 1;
    }
    @include small-desktop-view{
        opacity: 0;
    }

    @include desktop-view{
        opacity: 0;
    }
}

#check{
    display: none;
  }


.section-login{
    display: flex;
    padding: 0px 15px;
}

.login-icon{
    margin: auto;
    @include background-icons;
}

.login-icon_texts{
    margin: auto;
    padding-left: 10px;
}

.section-cart{
    display: flex;
    padding: 0px 15px;
}

.cart-icon{
    margin: auto;
    @include background-icons;
}

.cart-icon_texts{
    margin: auto;
    padding-left: 10px;
}


.section-search{
    margin: auto;
    i{
        font-size: 18px;
        padding: 20px;
        border-radius: 50%;
        background-color: colors(button);
    }
}


.items-list{
    @include space-between;
    @include small-mobile-view{
        display: none;
    }
    @include mobile-view{
        display: none;
    }

    @include tablet-view{
        display: none;
    }
    @include small-desktop-view{
        display: flex;
        padding: 0.5rem 0rem 1.5rem 0rem;
    }
    @include desktop-view{
        display: flex;
        font-size: 1.2rem;
    }
}

.navbar-items{
    @include mobile-view{
        padding:0;
    }

    @include tablet-view{
        padding:0;
    }
}

.navbar{
    ul{
        gap: 35px;
        li{
            font-weight: 700;
        }
    }
    
}

.banner-image{
    position: relative;
}

.banner-image_items{

    @include small-mobile-view{
        top:10%;
        position:absolute;
        max-width: 140px;
        h1{
            font-size: 0.7rem;
        }
        p{
            padding: 0.6rem 0rem;
            font-size: 0.6rem;
        }

        button{
            border-radius: 1em;
            background-color: colors(button);
            padding: 0.5rem 1rem;
            font-size: 0.7rem;
        }
    }
    @include mobile-view{
        top:15%;
        position:absolute;
        max-width: 180px;
        h1{
            font-size: 1.5rem;
        }
        p{
            padding: 0.6rem 0rem;
            font-size: 0.8rem;
        }

        button{
            border-radius: 1em;
            background-color: colors(button);
            padding: 0.5rem 1rem;
            font-size: 0.7rem;
        }
    }
    @include tablet-view{
        top: 15%;
        position:absolute;
        max-width: 280px;
        h1{
            font-size: 2.5rem;
        }

        p{
            padding: 1rem 0rem;
            font-size: 1rem;
        }
        button{
            border-radius: 1em;
            background-color: colors(button);
            padding: 0.7rem 1rem;
            font-size: 0.8rem;
        }
    }
    @include small-desktop-view{
        top: 18%;
        position:absolute;
        max-width: 380px;
        h1{
            font-size: 3.3rem;
        }

        p{
            padding: 1.5rem 0rem;
            font-size: 1.2rem;
        }
        button{
            border-radius: 1em;
            background-color: colors(button);
            padding: 1rem 1.3rem;
            font-size: 1rem;
        }
    }
    @include desktop-view{
        top: 20%;
        position:absolute;
        max-width: 410px;
        h1{
            font-size: 4rem;
        }

        p{
            padding: 2.3rem 0rem;
            font-size: 1.2rem;
            font-weight: 600;
        }
        button{
            border-radius: 1em;
            background-color: colors(button);
            padding: 1rem 1.3rem;
            font-size: 1rem;
        }
    }
}