
@import 'mixin';
@import 'variables';
@import 'boilerplate';

body{
    font-family: $font-family;
}

.items{
    background-color: rgb(111, 186, 236);
    height: 70vh;
   
}

.container{
    max-width: 1170px;
    margin: auto;
}

.lists{
    display: flex;
    justify-content: center;
    padding: 1em;
    gap: 15px;
    @include mobiles{
        display: block;
        text-align: center;    
    }
}

