@import 'media';

:root{
    --primary-color: linear-gradient(180deg, rgba(137,167,255,1) 0%, rgba(71,111,228,1) 100%); 
    --button-color: #EC8E00;
    --header-color: #0B1A47;
    --paragraph-color: #676A8A;
    --light-green: #BDF2E3;
    --dark-green: #047D37;
    --paragraph-size: 1.125rem;
    --background-section-color: #F7FBFF;
}

body{
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
    line-height: 24px;
}

h1,h2{
    color: var(--header-color);
}

h1{
    font-size: 3.75rem;
    line-height: 75px;
}

h2{
    font-size: 2.8125rem;
    line-height: 55px;
}

h3{
    font-size: 2.25rem;
}

h4{
    font-size: 1.5625rem;
}

h5{
    font-size: 1.25rem;
}

ul{
    list-style-type: none;
}

img{
    max-width: 100%;
}

.hover-item{
    a{
        &:hover{
            color: var(--button-color);
        }
    }
}

.breathing-space{
    padding: 96px 0px;
    @include media-sm{
        padding: 40px 0px;
    }
}

.remove-padding{
    padding: 0px 0px 0px 0px;
}

.fa-circle-check{
    color: #0EB654;
}

.paragraph-content{
    font-size: 22px;
    font-weight: 400;
    line-height: 40px;
    color: var(--paragraph-color);
}

.background-green{
    background-color: var(--background-section-color);
}

%button-primary{
    padding: 16px 24px;
    border-radius: 10px;
    color: #fff;
    display: inline-flex;
    justify-content: start;
    align-items: center;
    gap: 16px;
    &:hover{
        .right-arrow{
            fill: var(--dark-green);
        }
        color: var(--dark-green);
        background: var(--light-green);
    }

}

.btn-primary{
    @extend %button-primary;
    background: var(--button-color);
    font-size: 1.125rem;
    box-shadow: 0px 15px 30px rgba(236, 142, 0, 0.15);
}

.btn-secondary{
    @extend %button-primary;
    background: transparent;
    border: 1px solid #fff;
    margin-top: 12px;
    font-weight: 600;
}

.btn-center{
    display: flex;
    justify-content: center;
}

.right-arrow{
    fill: #fff;
}

.active{
    font-weight: 600;
    color: var(--header-color);
}

.section-category{
    color: var(--dark-green);
    font-size: 0.875rem;
    font-weight: 600;
    padding: 10px 24px;
    background-color: var(--light-green);
    border-radius: 20px;
    // &:hover{
    //     color: #fff;
    //     background: var(--button-color);
    // }
}

.about_care{
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 34px;
    color: var(--paragraph-color);
}

.text-center{
    text-align: center;
}


.card-title{
    font-size: 1.5rem;
    line-height: 36px;
    font-weight: 700;
    color: var(--header-color);
}

.card-paragraph{
    font-size: 1.125rem;
    color: var(--paragraph-color);
    line-height: 28px;
}

.yellow-text{
    a{
        font-size: 1.125rem;
        color: var(--button-color);
        line-height: 34px;
        font-weight: 500;
    }
}

.border-top{
    border-top: 1px solid rgba(103, 106, 138, 0.15);
}

.border-bottom{
    border-bottom: 1px solid rgba(103, 106, 138, 0.15);
}

.opacity-less:not(header){
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.2;
}

.map{
    &__iframe{
        width: 100%;
        height: 50vh;
    }
}
