:root{
    --primary-color: linear-gradient(180deg, rgba(137,167,255,1) 0%, rgba(71,111,228,1) 100%); 
    --button-color: #EC8E00;
    --header-color: #0B1A47;
    --paragraph-color: #676A8A;
    --light-green: #BDF2E3;
    --dark-green: #047D37;
    --paragraph-size: 1.125rem;
    --background-section-color: #F7FBFF;
}

body{
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
    line-height: 24px;
}

h1,h2{
    color: var(--header-color);
}

h1{
    font-size: 60px;
    line-height: 75px;
}

h2{
    font-size: 45px;
    line-height: 55px;
}

h3{
    font-size: 36px;
}

h4{
    font-size: 25px;
}

h5{
    font-size: 20px;
}

ul{
    list-style-type: none;
}

img{
    max-width: 100%;
}

.breathing-space{
    padding: 96px 0px;
}

.fa-circle-check{
    color: #0EB654;
}

.paragraph-content{
    font-size: 22px;
    font-weight: 400;
    line-height: 40px;
    color: var(--paragraph-color);
}

%button-primary{
    padding: 16px 24px;
    border-radius: 10px;
    color: #fff;
    a{
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 16px;
    }
    &:hover{
        .right-arrow{
            fill: var(--dark-green);
        }
        color: var(--dark-green);
        background: var(--light-green);
    }

}

.btn-primary{
    @extend %button-primary;
    background: var(--button-color);
    font-size: 1.125rem;
    box-shadow: 0px 15px 30px rgba(236, 142, 0, 0.15);
}

.btn-secondary{
    @extend %button-primary;
    background: transparent;
    border: 1px solid #fff;
    margin-top: 12px;
    font-weight: 600;
}

.active{
    color: var(--header-color);
}

.section-category{
    color: var(--dark-green);
    font-size: 0.875rem;
    font-weight: 600;
    padding: 10px 24px;
    background-color: var(--light-green);
    border-radius: 20px;
    &:hover{
        color: #fff;
        background: var(--button-color);
    }
}

.about_care{
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 34px;
    color: var(--paragraph-color);
}