:root {
  --primary-color: linear-gradient(180deg, rgba(137,167,255,1) 0%, rgba(71,111,228,1) 100%);
  --button-color: #EC8E00;
  --header-color: #0B1A47;
  --paragraph-color: #676A8A;
  --light-green: #BDF2E3;
  --dark-green: #047D37;
  --paragraph-size: 1.125rem;
  --background-section-color: #F7FBFF; }

body {
  font-size: 1rem;
  font-family: 'Inter', sans-serif;
  line-height: 24px;
  background: var(--background-section-color); }

h1, h2 {
  color: var(--header-color); }

h1 {
  font-size: 3.75rem;
  line-height: 75px; }

h2 {
  font-size: 2.8125rem;
  line-height: 55px; }

h3 {
  font-size: 2.25rem; }

h4 {
  font-size: 1.5625rem; }

h5 {
  font-size: 1.25rem; }

ul {
  list-style-type: none; }

img {
  max-width: 100%; }

.hover-item a:hover {
  color: var(--button-color); }

.breathing-space {
  padding: 96px 0px; }
  @media (max-width: 767px) {
    .breathing-space {
      padding: 40px 0px; } }

.fa-circle-check {
  color: #0EB654; }

.paragraph-content {
  font-size: 22px;
  font-weight: 400;
  line-height: 40px;
  color: var(--paragraph-color); }

.background-white {
  background-color: #fff; }

.btn-primary, .btn-secondary {
  padding: 16px 24px;
  border-radius: 10px;
  color: #fff;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 16px; }
  .btn-primary:hover, .btn-secondary:hover {
    color: var(--dark-green);
    background: var(--light-green); }
    .btn-primary:hover .right-arrow, .btn-secondary:hover .right-arrow {
      fill: var(--dark-green); }

.btn-primary {
  background: var(--button-color);
  font-size: 1.125rem;
  box-shadow: 0px 15px 30px rgba(236, 142, 0, 0.15); }

.btn-secondary {
  background: transparent;
  border: 1px solid #fff;
  margin-top: 12px;
  font-weight: 600; }

.btn-center {
  display: flex;
  justify-content: center; }

.right-arrow {
  fill: #fff; }

.active {
  font-weight: 600;
  color: var(--header-color); }

.section-category {
  color: var(--dark-green);
  font-size: 0.875rem;
  font-weight: 600;
  padding: 10px 24px;
  background-color: var(--light-green);
  border-radius: 20px; }

.about_care {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 34px;
  color: var(--paragraph-color); }

.text-center {
  text-align: center; }

.card-title {
  font-size: 1.5rem;
  line-height: 36px;
  font-weight: 700;
  color: var(--header-color); }

.card-paragraph {
  font-size: 1.125rem;
  color: var(--paragraph-color);
  line-height: 28px; }

.yellow-text a {
  font-size: 1.125rem;
  color: var(--button-color);
  line-height: 34px;
  font-weight: 500; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a, a:visited, a:active {
  text-decoration: none; }

button {
  border: none; }

.container {
  margin: 0 auto;
  padding: 0px 16px; }

.banner__text, .features__emergency, .features__timetable, .features__hours {
  display: grid;
  justify-items: start;
  row-gap: 12px;
  color: #fff; }

@media (max-width: 767px) {
  .container {
    max-width: 540px; } }

@media (min-width: 768px) {
  .container {
    max-width: 720px; } }

@media (min-width: 992px) {
  .container {
    max-width: 960px; } }

@media (min-width: 1200px) {
  .container {
    max-width: 1170px; } }

.header-top {
  display: block;
  color: var(--paragraph-color);
  padding: 10px 0px;
  background: var(--background-section-color); }
  .header-top__section {
    display: flex;
    justify-content: space-between; }
  .header-top__detail--gap {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 20.67px; }
  .header-top__icon {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 10.74px; }
    .header-top__icon:hover {
      color: var(--button-color); }
  .header-top__socialmedia {
    margin: auto 0;
    display: flex;
    justify-content: space-between; }
  @media (max-width: 767px) {
    .header-top {
      display: none; } }

.logo-nav {
  color: var(--paragraph-color);
  padding: 20px 0px; }
  .logo-nav__section {
    display: flex;
    justify-content: space-between; }
  .logo-nav__hamburger {
    color: #000;
    font-size: 1.875rem; }
    @media (max-width: 767px) {
      .logo-nav__hamburger {
        display: inline;
        margin: auto 0; } }
    @media (min-width: 768px) {
      .logo-nav__hamburger {
        display: inline;
        margin: auto 0; } }
    @media (min-width: 1200px) {
      .logo-nav__hamburger {
        display: none; } }
  @media (max-width: 767px) {
    .logo-nav__menu {
      display: none; } }
  @media (min-width: 768px) {
    .logo-nav__menu {
      display: none; } }
  @media (min-width: 1200px) {
    .logo-nav__menu {
      display: flex;
      justify-content: space-between;
      gap: 40px;
      font-weight: 400;
      font-size: 1.125rem; } }
  .logo-nav__navbar {
    margin: auto 0; }
  .logo-nav__list {
    display: flex;
    gap: 20px; }
    .logo-nav__list a {
      color: var(--paragraph-color); }
  .logo-nav__button {
    color: #fff;
    font-weight: 400; }
  .logo-nav__arrow {
    fill: #fff; }

.banner__content {
  position: relative;
  display: grid;
  padding: 19px 0px;
  row-gap: 30px; }

.banner__text {
  margin: auto 0; }

.banner__button {
  margin-top: 22px; }

.banner__image {
  position: relative; }

@media (max-width: 767px) {
  .banner__content {
    grid-template-columns: repeat(1, 1fr); }
  .banner__image {
    margin: 0 auto; } }

@media (min-width: 992px) {
  .banner__content {
    grid-template-columns: repeat(2, 1fr); }
  .banner__left-circle--a {
    position: absolute;
    height: 65px;
    width: 65px;
    background: linear-gradient(149.21deg, #FFFFFF 12.75%, #D0DCFF 86.99%);
    border-radius: 50%;
    top: 0px;
    left: 140px; }
  .banner__left-circle--b {
    position: absolute;
    height: 65px;
    width: 65px;
    background: linear-gradient(149.21deg, #FFFFFF 12.75%, #D0DCFF 86.99%);
    border-radius: 50%;
    bottom: 47px;
    right: -110px; } }

@media (min-width: 1200px) {
  .banner__content {
    grid-template-columns: repeat(2, 1fr); }
  .banner__left-cricle {
    position: absolute;
    height: 90px;
    width: 90px;
    background: linear-gradient(149.21deg, #FFFFFF 12.75%, #D0DCFF 86.99%);
    border-radius: 50%;
    bottom: 0px;
    left: -100px; }
    .banner__left-cricle--a {
      position: absolute;
      height: 65px;
      width: 65px;
      background: linear-gradient(149.21deg, #FFFFFF 12.75%, #D0DCFF 86.99%);
      border-radius: 50%;
      top: 0px;
      left: 140px; }
    .banner__left-cricle--b {
      position: absolute;
      height: 65px;
      width: 65px;
      background: linear-gradient(149.21deg, #FFFFFF 12.75%, #D0DCFF 86.99%);
      border-radius: 50%;
      bottom: 47px;
      right: -110px; }
  .banner__image img {
    margin-left: 130px; } }

.features__content {
  display: grid; }

.features .shadow-right {
  box-shadow: inset -1px 0px 0px rgba(255, 255, 255, 0.1); }

.features__emergency {
  background: var(--primary-color);
  box-shadow: inset -1px 0px 0px rgba(255, 255, 255, 0.1);
  padding: 40px;
  border-radius: 10px 0px 0px 10px; }

.features__timetable {
  background: var(--primary-color);
  box-shadow: inset -1px 0px 0px rgba(255, 255, 255, 0.1);
  padding: 40px; }

.features__hours {
  background: var(--primary-color);
  padding: 40px;
  border-radius: 0px 10px 10px 0px; }

.features__paragraph {
  font-size: 1.125rem;
  line-height: 34px; }

.features__icon {
  padding-bottom: 8px; }

.features__row {
  padding: 12px 0px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between; }

.features__border {
  box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.1); }

@media (max-width: 767px) {
  .features__emergency {
    border-radius: 10px 10px 0px 0px; }
  .features__hours {
    border-radius: 0px 0px 10px 10px; } }

@media (min-width: 768px) {
  .features__emergency {
    border-radius: 10px 10px 0px 0px; }
  .features__hours {
    border-radius: 0px 0px 10px 10px; } }

@media (min-width: 992px) {
  .features__content {
    grid-template-columns: repeat(2, 1fr); }
  .features__emergency {
    border-radius: 10px 0px 0px 10px; }
  .features__hours {
    border-radius: 10px 0px 10px 10px; } }

@media (min-width: 1200px) {
  .features__content {
    grid-template-columns: repeat(3, 1fr); }
  .features__emergency {
    border-radius: 10px 0px 0px 10px; }
  .features__hours {
    border-radius: 0px 10px 10px 0px; } }

.about__content {
  display: grid;
  column-gap: 30px;
  row-gap: 20px; }

.about__texts {
  display: grid;
  justify-items: start;
  row-gap: 16px; }

.about__emergency {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 63px;
  row-gap: 16px; }

.about__check {
  display: flex;
  gap: 10px; }

.about__button {
  margin-top: 22px; }

@media (max-width: 767px) {
  .about__content {
    grid-template-columns: repeat(1, 1fr); }
  .about__image {
    text-align: center; } }

@media (min-width: 768px) {
  .about__content {
    grid-template-columns: repeat(1, 1fr); }
  .about__image {
    text-align: center; } }

@media (min-width: 992px) {
  .about__content {
    grid-template-columns: repeat(1, 1fr); }
  .about__image {
    text-align: center; } }

@media (min-width: 1200px) {
  .about__content {
    grid-template-columns: repeat(2, 1fr); }
  .about__image {
    text-align: start; } }

.services__cards {
  display: grid;
  row-gap: 40px;
  column-gap: 30px;
  padding: 40px 0px; }

.services__texts {
  display: grid;
  row-gap: 16px;
  justify-items: center;
  max-width: 651px;
  margin: 0 auto; }

.services__icon {
  padding: 46px 0px;
  background: var(--primary-color);
  border-radius: 20px 20px 0px 0px; }

.services__details {
  display: grid;
  justify-items: center;
  row-gap: 11px;
  padding: 24px 30px;
  border-radius: 0px 0px 20px 20px;
  background: #F7FBFF; }

.services__button--card {
  background: transparent;
  color: var(--button-color);
  padding: 14px 24px;
  border-radius: 10px;
  margin-top: 13px;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 16px;
  font-weight: 600; }
  .services__button--card .right-arrow {
    fill: var(--button-color); }
  .services__button--card:hover {
    color: var(--dark-green);
    background: var(--light-green); }
    .services__button--card:hover .right-arrow {
      fill: var(--dark-green); }

@media (max-width: 767px) {
  .services__cards {
    grid-template-columns: repeat(1, 1fr); } }

@media (min-width: 768px) {
  .services__cards {
    grid-template-columns: repeat(2, 1fr); } }

@media (min-width: 992px) {
  .services__cards {
    grid-template-columns: repeat(3, 1fr); } }

.process__texts {
  display: grid;
  row-gap: 20px;
  column-gap: 150px; }

.process__title--spacing {
  display: grid;
  justify-items: start;
  row-gap: 15px; }

.process__paragraph {
  margin: auto 0; }

.process__cardlist {
  display: grid;
  column-gap: 30px;
  row-gap: 30px;
  padding-top: 64px; }

.process__card {
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  padding: 56px 47px;
  display: grid;
  row-gap: 40px;
  box-shadow: 0px 12px 48px rgba(21, 36, 59, 0.08); }
  .process__card:hover {
    background: var(--primary-color);
    color: #fff; }

.process__dots--image {
  display: inline;
  position: absolute;
  bottom: -57px;
  right: -90px;
  z-index: -1; }

@media (max-width: 767px) {
  .process__texts {
    grid-template-columns: repeat(1, 1fr); }
  .process__cardlist {
    padding-top: 32px;
    grid-template-columns: repeat(1, 1fr); }
  .process__dots--image {
    display: none; } }

@media (min-width: 768px) {
  .process__texts {
    grid-template-columns: repeat(1, 1fr); }
  .process__cardlist {
    grid-template-columns: repeat(2, 1fr); }
  .process__dots--image {
    display: none; } }

@media (min-width: 992px) {
  .process__texts {
    grid-template-columns: repeat(2, 1fr); }
  .process__cardlist {
    grid-template-columns: repeat(3, 1fr); } }

@media (min-width: 1200px) {
  .process__texts {
    grid-template-columns: repeat(2, 1fr); }
  .process__cardlist {
    position: relative;
    grid-template-columns: repeat(4, 1fr); }
  .process__dots--image {
    display: inline; } }

.appointment__content {
  display: grid;
  column-gap: 30px;
  row-gap: 30px; }

.appointment__texts h2 {
  padding: 16px 0px; }

.appointment__image--space {
  padding-top: 30px; }

.appointment__social {
  padding-top: 48px;
  display: grid;
  row-gap: 25px; }
  .appointment__social--icons {
    display: flex;
    gap: 24px; }
    .appointment__social--icons a {
      color: var(--paragraph-color); }

.appointment__icon {
  color: var(--paragraph-color); }
  .appointment__icon:hover {
    color: var(--button-color); }

.appointment__form {
  display: grid;
  row-gap: 24px;
  padding: 32px 40px;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0px 12px 48px rgba(21, 36, 59, 0.08); }
  .appointment__form p {
    display: grid; }

.appointment input, .appointment select, .appointment textarea {
  max-width: 100%;
  padding: 14px 5px;
  border-radius: 10px;
  color: rgba(5, 32, 61, 0.28);
  border: 1px solid rgba(5, 32, 61, 0.1); }

.appointment label {
  font-size: 1.125rem;
  line-height: 34px;
  padding-bottom: 4px; }

.appointment__details {
  display: grid;
  column-gap: 30px;
  row-gap: 10px; }

.appointment__button {
  margin-top: 8px;
  justify-content: center; }

.appointment__select {
  height: 149px; }

@media (max-width: 767px) {
  .appointment__details {
    grid-template-columns: repeat(1, 1fr); } }

@media (min-width: 768px) {
  .appointment__content {
    grid-template-columns: repeat(1, 1fr); }
  .appointment__details {
    grid-template-columns: repeat(2, 1fr); } }

@media (min-width: 992px) {
  .appointment__content {
    grid-template-columns: repeat(2, 1fr); }
  .appointment__details {
    grid-template-columns: repeat(2, 1fr); } }

.mobile__content {
  display: grid;
  column-gap: 78px;
  row-gap: 40px; }

.mobile__store {
  display: inline-grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 25px; }

.mobile h2 {
  margin: 16px 0px; }

.mobile .paragraph-content {
  margin: 16px 0px 40px 0px; }

@media (max-width: 767px) {
  .mobile__content {
    grid-template-columns: repeat(1, 1fr); }
  .mobile__image {
    text-align: center; } }

@media (min-width: 768px) {
  .mobile__image {
    text-align: center; } }

@media (min-width: 992px) {
  .mobile__content {
    grid-template-columns: repeat(2, 1fr); } }

.experts__content {
  position: relative; }

.experts__texts {
  max-width: 649px;
  margin: 0 auto; }
  .experts__texts h2 {
    padding: 16px 0px; }

.experts__cardslist {
  display: grid;
  row-gap: 15px;
  column-gap: 30px; }

.experts__card-text p {
  font-size: 1.25rem;
  line-height: 32px;
  font-weight: 600;
  color: var(--header-color); }

.experts__card-text span {
  line-height: 28px;
  font-weight: 200; }

@media (max-width: 767px) {
  .experts__cardslist {
    padding: 32px 0px 12px 0px;
    grid-template-columns: repeat(1, 1fr); } }

@media (min-width: 768px) {
  .experts__cardslist {
    padding: 32px 0px 12px 0px;
    grid-template-columns: repeat(2, 1fr); } }

@media (min-width: 992px) {
  .experts__cardslist {
    grid-template-columns: repeat(3, 1fr); } }

@media (min-width: 1200px) {
  .experts__cardslist {
    padding: 64px 0px 48px 0px;
    grid-template-columns: repeat(4, 1fr); } }

.feedback__content {
  display: grid;
  column-gap: 100px;
  row-gap: 30px; }

.feedback__texts h2 {
  padding: 16px 0px; }

.feedback__button {
  text-align: center; }

.feedback__quotes {
  padding: 40px 0px 0px 0px;
  display: grid; }

.feedback__paragraph--text {
  font-size: 1.125rem;
  line-height: 34px;
  color: var(--paragraph-color); }

.feedback h5 {
  padding: 24px 0px 2px 0px; }

@media (max-width: 767px) {
  .feedback__button {
    margin-top: 25px; } }

@media (min-width: 992px) {
  .feedback__content {
    grid-template-columns: repeat(2, 1fr); }
  .feedback__button {
    margin-top: 50px; } }

@media (min-width: 1200px) {
  .feedback__content {
    grid-template-columns: repeat(2, 1fr); }
  .feedback__button {
    margin-top: 100px; } }

.blog__content h2 {
  padding: 16px 0px; }

.blog__cardlist {
  display: grid;
  row-gap: 20px;
  column-gap: 30px;
  padding: 56px 0px 48px 0px; }

.blog__card {
  border-radius: 20px;
  box-shadow: 0px 12px 48px rgba(21, 36, 59, 0.08); }
  .blog__card--content {
    display: grid;
    row-gap: 8px;
    padding: 30px; }
  .blog__card--category {
    font-size: 0.875rem;
    color: var(--paragraph-color);
    line-height: 16.94px; }
  .blog__card--title {
    color: var(--header-color);
    line-height: 35px; }
  .blog__card--date {
    padding: 8px 0px 2px 0px;
    font-size: 0.875rem;
    color: var(--paragraph-color);
    line-height: 16.94px; }

.blog__image img {
  border-radius: 20px 20px 0px 0px; }

.blog__button {
  text-align: center; }

@media (max-width: 767px) {
  .blog__cardlist {
    grid-template-columns: repeat(1, 1fr); } }

@media (min-width: 768px) {
  .blog__cardlist {
    grid-template-columns: repeat(2, 1fr); } }

@media (min-width: 992px) {
  .blog__cardlist {
    grid-template-columns: repeat(3, 1fr); } }

@media (min-width: 1200px) {
  .blog__cardlist {
    grid-template-columns: repeat(3, 1fr); } }

.assist__content {
  position: relative;
  display: inline-grid;
  row-gap: 20px;
  padding: 64px 60px;
  background: var(--primary-color);
  border-radius: 20px; }

.assist__corner {
  position: absolute;
  top: 0px;
  right: 0px; }

.assist h2 {
  font-size: 2.5rem;
  padding-bottom: 8px; }

.assist p {
  padding-top: 8px;
  font-size: 1.25rem; }

.assist__text--white {
  color: #fff; }

.assist__button {
  margin: auto; }

.assist__corner-dot {
  position: absolute;
  bottom: 10px;
  left: 20px; }

@media (min-width: 992px) {
  .assist__content {
    grid-template-columns: repeat(2, 1fr); } }

.reach {
  padding: 40px 0px 25px 0px; }
  .reach__content {
    column-gap: 30px;
    row-gap: 30px; }
  .reach__appointment {
    display: flex;
    gap: 20px; }
    .reach__appointment--image {
      margin: auto 0; }
    .reach__appointment--texts {
      color: var(--header-color); }
  @media (max-width: 767px) {
    .reach__content {
      display: grid;
      grid-template-columns: repeat(1, 1fr); } }
  @media (min-width: 768px) {
    .reach__content {
      display: grid;
      grid-template-columns: repeat(2, 1fr); } }
  @media (min-width: 992px) {
    .reach__content {
      display: grid;
      grid-template-columns: repeat(3, 1fr); } }

.footer {
  padding: 80px 0px 48px 0px;
  border-top: 1px solid rgba(103, 106, 138, 0.15); }
  .footer__content {
    display: grid;
    row-gap: 10px;
    column-gap: 30px; }
  .footer__text {
    font-size: 1.125rem;
    line-height: 34px;
    color: var(--header-color);
    font-weight: 600; }
    .footer__text--bottom {
      width: 40px;
      height: 3px;
      background: var(--header-color);
      border: none;
      border-radius: 50px; }
    .footer__text--paragraph {
      font-size: 1.125rem;
      line-height: 34px;
      color: var(--paragraph-color);
      font-weight: 400;
      padding: 30px 0px; }
    .footer__text--title {
      color: var(--header-color);
      line-height: 35px;
      padding: 30px 0px 0px 0px; }
      .footer__text--title a {
        color: var(--header-color); }
        .footer__text--title a:hover {
          color: var(--button-color); }
    .footer__text--date {
      padding-top: 4px;
      font-size: 0.875rem;
      line-height: 16.94px;
      color: var(--paragraph-color); }
    .footer__text--time {
      display: grid;
      grid-template-columns: repeat(2, 1fr); }
  .footer__socialmedia {
    display: flex;
    gap: 25px; }
    .footer__socialmedia a {
      color: var(--paragraph-color); }
  .footer__links a {
    color: var(--paragraph-color); }
  .footer__schedule {
    padding: 30px 0px; }
  .footer__row {
    padding: 12px 0px;
    display: flex;
    justify-content: space-between; }
  .footer__icon {
    color: var(--header-color); }
  .footer .border-bottom {
    border-bottom: 1px solid rgba(103, 106, 138, 0.15); }
  @media (max-width: 767px) {
    .footer {
      padding: 40px 0px 12px 0px; }
      .footer__content {
        grid-template-columns: repeat(1, 1fr); } }
  @media (min-width: 768px) {
    .footer__content {
      grid-template-columns: repeat(2, 1fr); } }
  @media (min-width: 992px) {
    .footer__content {
      grid-template-columns: repeat(4, 1fr); } }
  @media (min-width: 1200px) {
    .footer__content {
      grid-template-columns: 284.5px 125px 350px 284.5px; } }

.copyright {
  background: var(--header-color);
  padding: 16px 0px;
  color: var(--paragraph-color); }
  .copyright__content {
    display: flex;
    justify-content: space-between; }
  .copyright__link {
    display: flex;
    gap: 20px; }
    .copyright__link a {
      color: #fff; }
  .copyright .text-white {
    color: #fff; }
  @media (max-width: 767px) {
    .copyright__content {
      text-align: center;
      display: grid;
      justify-items: center; } }

.section__content {
  position: relative; }

.section__texts {
  margin: 0 auto;
  max-width: 743px; }
  .section__texts h2 {
    padding: 16px 0px; }

.section__left-circle {
  position: absolute;
  height: 65px;
  width: 65px;
  background: linear-gradient(149.21deg, #FFFFFF 12.75%, #D0DCFF 86.99%);
  border-radius: 50%;
  top: -66px;
  right: -137px; }

.section__right-circle {
  position: absolute;
  height: 90px;
  width: 90px;
  background: linear-gradient(149.21deg, #FFFFFF 12.75%, #D0DCFF 86.99%);
  border-radius: 50%;
  bottom: -55px;
  left: -300px; }

@media (max-width: 767px) {
  .section__left-circle {
    display: none; }
  .section__right-circle {
    display: none; } }

@media (min-width: 768px) {
  .section__left-circle {
    display: none; }
  .section__right-circle {
    display: none; } }

@media (min-width: 1200px) {
  .section__left-circle {
    display: inline; }
  .section__right-circle {
    display: inline; } }

.all-testimonal__content {
  display: grid;
  column-gap: 30px;
  row-gap: 30px; }

.all-testimonal__card {
  display: grid;
  row-gap: 24px;
  padding: 24px;
  background-color: #fff;
  border-radius: 20px; }
  .all-testimonal__card--text {
    font-size: 1.125rem;
    line-height: 34px;
    color: var(--paragraph-color); }

.all-testimonal__author {
  display: flex;
  gap: 16px; }
  .all-testimonal__author--details {
    margin: auto 0; }
  .all-testimonal__author--name {
    color: var(--header-color); }
  .all-testimonal__author--work {
    line-height: 34px;
    color: var(--paragraph-color); }

@media (min-width: 768px) {
  .all-testimonal__content {
    grid-template-columns: repeat(2, 1fr); } }

@media (min-width: 992px) {
  .all-testimonal__content {
    grid-template-columns: repeat(2, 1fr); } }

.map__iframe {
  width: 100%;
  height: 50vh; }
