@import 'boilerplate';
@import 'media';
@import 'reset';

%container{
    margin: 0 auto;
    padding: 0px 16px;
}

%grid-start
{
    display: grid;
    justify-items: start;
    row-gap: 12px;
    color: #fff;
}

@mixin flex-between{
    display: flex;
    justify-content: space-between;
}

@mixin grid-auto{
    display: grid;
    grid-template-columns: auto 1fr;
}


// responsove container
.container{
    @extend %container;
    @include media-sm{
        max-width: 540px;
    }
    @include media-md{
        max-width: 720px;
    }
    @include media-lg{
        max-width: 960px;
    }
    @include media-xl{
        max-width: 1170px;
    }
}

// header styling
.header-top{
    display: block;
    color: var(--paragraph-color);
    padding: 10px 0px;
    background: var(--background-section-color);
    &__section{
        @include flex-between;
    }
    &__detail{
        &--gap{
            @include grid-auto;
            column-gap: 20.67px;
        }
    }
    &__icon{
        @include grid-auto;
        column-gap: 10.74px;
        &:hover{
            color: var(--button-color);
        }
    }
    &__socialmedia{
        margin: auto 0;
        @include flex-between;
    }
    @include media-sm{
        display: none;
    }
}

// logo + navbar styling
.logo-nav{
    color: var(--paragraph-color);
    padding: 20px 0px;
    &__section{
        @include flex-between;
    }
    &__hamburger{
        color: #000;
        font-size: 1.875rem;
        @include media-sm{
            display: inline;
            margin: auto 0;
        }
        @include media-md{
            display: inline;
            margin: auto 0;
        }
        @include media-xl{
            display: none;
        }
    }
    &__menu{
        @include media-sm{
            display: none;
        }
        @include media-md{
            display: none;
        }
        @include media-xl{
            @include flex-between;
            gap: 40px;
            font-weight: 400;
            font-size: 1.125rem;
        }
    }
    &__navbar{
        margin: auto 0;
    }
    &__list{
        display: flex;
        gap: 20px;
        li{
            &:hover{
                color: var(--button-color);
            }
        }
    }
    &__button{
        font-weight: 400;
    }
    &__arrow{
        fill: #fff;
    }
}

// banner
.banner{
    &__content{
        position: relative;
        display: grid;
        padding: 19px 0px;
        row-gap: 30px;
    }
    &__text{
        margin: auto 0;
        @extend %grid-start;
    }
    &__button{
        margin-top: 22px;
    }
    &__image{
        position: relative;
    }
    @include media-sm{
        &__content{
            grid-template-columns: repeat(1, 1fr);
        }
        &__image{
            margin: 0 auto;
        }
    }
    @include media-lg{
        &__content{
            grid-template-columns: repeat(2, 1fr);
        }
        &__left-circle{
            &--a{
                position: absolute;
                height: 65px;
                width: 65px;
                background: linear-gradient(149.21deg, #FFFFFF 12.75%, #D0DCFF 86.99%);
                border-radius: 50%;
                top: 0px;
                left: 140px;
            }
            &--b{
                position: absolute;
                height: 65px;
                width: 65px;
                background: linear-gradient(149.21deg, #FFFFFF 12.75%, #D0DCFF 86.99%);
                border-radius: 50%;
                bottom: 47px;
                right: -110px;
            }
        }
    }
    @include media-xl{
        &__content{
            grid-template-columns: repeat(2, 1fr);
        }
        &__left-cricle{
            position: absolute;
            height: 90px;
            width: 90px;
            background: linear-gradient(149.21deg, #FFFFFF 12.75%, #D0DCFF 86.99%);
            border-radius: 50%;
            bottom: 0px;
            left: -100px;
            &--a{
                position: absolute;
                height: 65px;
                width: 65px;
                background: linear-gradient(149.21deg, #FFFFFF 12.75%, #D0DCFF 86.99%);
                border-radius: 50%;
                top: 0px;
                left: 140px;
            }
            &--b{
                position: absolute;
                height: 65px;
                width: 65px;
                background: linear-gradient(149.21deg, #FFFFFF 12.75%, #D0DCFF 86.99%);
                border-radius: 50%;
                bottom: 47px;
                right: -110px;
            }
        }
        &__image{
            img{
                margin-left: 130px;
            }   
        }
    }
}

//features
.features{
    &__content{
        display: grid;
    }
    .shadow-right{
        box-shadow: inset -1px 0px 0px rgba(255, 255, 255, 0.1);
    }
    &__emergency{
        @extend %grid-start;
        background: var(--primary-color);
        box-shadow: inset -1px 0px 0px rgba(255, 255, 255, 0.1);
        padding: 40px;
        border-radius: 10px 0px 0px 10px;
    }
    &__timetable{
        @extend %grid-start;
        background: var(--primary-color);
        box-shadow: inset -1px 0px 0px rgba(255, 255, 255, 0.1);
        padding: 40px;
    }
    &__hours{
        @extend %grid-start;
        background: var(--primary-color);
        padding: 40px;
        border-radius: 0px 10px 10px 0px;
    }
    &__paragraph{
        font-size: 1.125rem;
        line-height: 34px;
    }
    &__icon{
        padding-bottom: 8px;
    }
    &__row{
        padding: 12px 0px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        justify-content: space-between;
    }
    &__border{
        box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.1);
    }
    @include media-sm{
        &__emergency{
            border-radius: 10px 10px 0px 0px;
        }
        &__hours{
            border-radius: 0px 0px 10px 10px;
        }
    }
    @include media-md{
        &__emergency{
            border-radius: 10px 10px 0px 0px;
        }
        &__hours{
            border-radius: 0px 0px 10px 10px;
        }
    }
    @include media-lg{
        &__content{
            grid-template-columns: repeat(2,1fr);
        }
        &__emergency{
            border-radius: 10px 0px 0px 10px;
        }
        &__hours{
            border-radius: 10px 0px 10px 10px;
        }
    }
    @include media-xl{
        &__content{
            grid-template-columns: repeat(3,1fr);
        }
        &__emergency{
            border-radius: 10px 0px 0px 10px;
        }
        &__hours{
            border-radius: 0px 10px 10px 0px;
        }
    }
}

//about us styling
.about{
    &__content{
        display: grid;
        column-gap: 30px;
        row-gap: 20px;
    }
    &__texts{
        display: grid;
        justify-items: start;
        row-gap: 16px;
    }
    &__emergency{
        display: grid;
        grid-template-columns: repeat(2 ,1fr);
        column-gap: 63px;
        row-gap: 16px;
    }
    &__check{
        display: flex;
        gap: 10px;
    }
    &__button{
        margin-top: 22px;
    }
    @include media-sm{
        &__content{
            grid-template-columns: repeat(1, 1fr);
        }
        &__image{
            text-align: center;
        }
    }
    @include media-md{
        &__content{
            grid-template-columns: repeat(1, 1fr);
        }
        &__image{
            text-align: center;
        }
    }
    @include media-lg{
        &__content{
            grid-template-columns: repeat(1, 1fr);
        }
        &__image{
            text-align: center;
        }
    }
    @include media-xl{
        &__content{
            grid-template-columns: repeat(2, 1fr);
        }
        &__image{
            text-align: start;
        }
    }
}

//services styling
.services{
    &__cards{
        display: grid;
        row-gap: 40px;
        column-gap: 30px;
        padding: 40px 0px;
    }
    &__texts{
        display: grid;
        row-gap: 16px;
        justify-items: center;
        max-width: 651px;
        margin: 0 auto;
    }
    &__icon{
        padding: 46px 0px;
        background: var(--primary-color);
        border-radius: 20px 20px 0px 0px;
    }
    &__details{
        display: grid;
        justify-items: center;
        row-gap: 11px;
        padding: 24px 30px;
        border-radius: 0px 0px 20px 20px;
        background: #F7FBFF;
    }
    &__button{
        &--card{
            background: transparent;
            color: var(--button-color);
            padding: 14px 24px;
            border-radius: 10px;
            margin-top: 13px;
            a{
                display: flex;
                justify-content: end;
                align-items: center;
                gap: 16px;
                font-weight: 600;
            }
            .right-arrow{
                fill: var(--button-color);
            }
            &:hover{
                .right-arrow{
                    fill: var(--dark-green);
                }
                color: var(--dark-green);
                background: var(--light-green);
            }
        }
    }
    @include media-sm{
        &__cards{
            grid-template-columns: repeat(1,1fr);
        }
    }
    @include media-md{
        &__cards{
            grid-template-columns: repeat(2,1fr);
        }
    }
    @include media-lg{
        &__cards{
            grid-template-columns: repeat(3,1fr);
        }
    }
}

//process styling
.process{
    &__texts{
        display: grid;
        row-gap: 20px;
        column-gap: 150px;
    }
    &__title{
        &--spacing{
            display: grid;
            justify-items: start;
            row-gap: 15px;
        }
    }
    &__paragraph{
        margin: auto 0;
    }
    &__cardlist{
        display: grid;
        column-gap: 30px;
        row-gap: 30px;
        padding-top: 64px;
    }
    &__card{
        text-align: center;
        background-color: #fff;
        border-radius: 10px;
        padding: 56px 47px;
        display: grid;
        row-gap: 40px;
        box-shadow: 0px 12px 48px rgba(21, 36, 59, 0.08);
        &:hover{
            background: var(--primary-color);
            color: #fff;
        }
    }
    &__dots{
        &--image{
            position: absolute;
            bottom: -57px;
            right: -90px;
            z-index: -1;
        }
    }
    @include media-sm{
        &__texts{
            grid-template-columns: repeat(1,1fr);
        }
        &__cardlist{
            grid-template-columns: repeat(1,1fr);
        }
    }
    @include media-md{
        &__texts{
            grid-template-columns: repeat(1,1fr);
        }
        &__cardlist{
            grid-template-columns: repeat(2,1fr);
        }
    }
    @include media-lg{
        &__texts{
            grid-template-columns: repeat(2,1fr);
        }
        &__cardlist{
            grid-template-columns: repeat(3,1fr);
        }
    }
    @include media-xl{
        &__texts{
            grid-template-columns: repeat(2,1fr);
        }
        &__cardlist{
            position: relative;
            grid-template-columns: repeat(4,1fr);
        }
    }
}