@import 'boilerplate';
@import 'media';
@import 'reset';

%container{
    margin: 0 auto;
    padding: 0px 16px;
}

%grid-start
{
    display: grid;
    justify-items: start;
    row-gap: 12px;
    color: #fff;
}

@mixin flex-between{
    display: flex;
    justify-content: space-between;
}

@mixin grid-auto{
    display: grid;
    grid-template-columns: auto 1fr;
}


// responsove container
.container{
    @extend %container;
    @include media-sm{
        max-width: 540px;
    }
    @include media-md{
        max-width: 800px;
    }
    @include media-lg{
        max-width: 960px;
    }
    @include media-xl{
        max-width: 1170px;
    }
}


@include media-lg{
    .opacity-less{
        background-color: inherit !important;
        opacity: 1 !important;
    }
}

.header{
    z-index: 1;
    position: fixed;
    background: #fff;
    width: 100%;
    position: fixed;
}

// header styling
.header-top{
    display: block;
    color: var(--paragraph-color);
    padding: 10px 0px;
    background: var(--background-section-color);
    &__section{
        @include flex-between;
    }
    &__detail{
        &--gap{
            @include grid-auto;
            column-gap: 20.67px;
        }
    }
    &__icon{
        @include grid-auto;
        column-gap: 10.74px;
        &:hover{
            color: var(--button-color)
        }
    }
    &__socialmedia{
        margin: auto 0;
        @include flex-between;
        a{
            color: var(--paragraph-color);
        }
    }
    @include media-sm{
        display: none;
    }
}

//logo + navbar styling
.logo-nav{
    padding: 20px 0px;
    .hamburger-menu{
        width: 40px;
        height: 5px;
        background-color: #000;
        position: relative;
        margin: auto 0;
        border-radius: 15px;
        z-index: 1000;
        transition: 0.2s ease-in-out;
        &::before,&::after{
            content: '';
            width: 40px;
            height: 5px;
            background-color: #000;
            position: absolute;
            border-radius: 15px;
            transition: 0.25s ease-in-out;
        }
        &::before{
            transform: translateY(-12px);
        }
        &::after{
            transform: translateY(12px);
        }
    }
    .animate-menu{
        position: relative;
        background-color: transparent;
    }
    .animate-menu::before{
        transform: rotate(-45deg);
    }
    .animate-menu::after{
        transform: rotate(45deg);
    }
    .list-nav{
        display: grid;
        position: absolute;
        z-index: 1;
        background-color: #fff;
        top: 0px;
        right: 0px;
        inset: 0 0 0 35%;
        padding: 60px 30px;
        position: fixed;
        row-gap: 20px;
        box-shadow: -7px 5px 37px -11px rgba(0,0,0,0.31);
    }
    .menu-nav{
        display: grid;
        row-gap: 10px;
        a{
            color: var(--paragraph-color);
        }
    } 
    &__socialmedia{
        a{
            color: var(--paragraph-color);
        }
    }
    &__mobile{
        color: var(--paragraph-color);
    }
    @include media-sm{
        &__section{
            display: flex;
            justify-content: space-between;
        }
        &__list{
            display: none;
        }
        &__button{
            margin: auto 0;
        }
        &__mobile{
            display: flex;
            flex-direction: column;
            gap: 10px;
            justify-content: end;
        }
        &__drop--down{
            display: none;
            padding: 10px 0px 0px 10px;
        }
        &__sub{
            &--menu{
                padding: 10px 0px 0px 20px;
                display: none;
            }
        }
        .show-drop-down{
            display: grid;
            row-gap: 10px;
        }
        .rotate-up{
            transform: rotate(180deg);
            transition: 0.25s ease-in-out;
        }
        .sub-rotate-up{
            transform: rotate(180deg);
            transition: 0.25s ease-in-out;
        }
        .show-sub-drop{
            display: grid;
            row-gap: 10px;
        }
    }
    @include media-md{
        .list-nav{
            padding: 130px 30px;
            inset: 0 0 0 60%;
        }
        &__section{
            display: flex;
            justify-content: space-between;
        }
        &__list{
            display: none;
        }
        &__button{
            margin: auto 0;
        }
        &__mobile{
            display: none;
        } 
        &__drop--down{
            display: none;
            margin: 10px 0px;
        }
        &__sub{
            &--menu{
                display: none;
                padding: 10px 0px 0px 20px;
            }
        }
        .show-drop-down{
            display: grid;
            row-gap: 10px;
        }
        .rotate-up{
            transform: rotate(180deg);
            transition: 0.25s ease-in-out;
        } 
        .sub-rotate-up{
            transform: rotate(180deg);
            transition: 0.25s ease-in-out;
        }
        .show-sub-drop{
            display: grid;
            row-gap: 10px;
        }
    }
    @include media-lg{
        .hamburger-menu{
            display: none;
        }
        .animate-menu{
            display: none;
        }
        &__list,.list-nav{
            display: flex;
            background-color: transparent;
            position: static;
            box-shadow: none;
            padding: 0px;
            gap: 40px;
        }
        &__menu, .menu-nav{
            display: flex;
            gap: 30px;
            align-items: center;
            a{
                color: var(--paragraph-color);
            }
        }
        &__drop--down{
            display: none;
            background-color: #fff;
            border: 1px solid #ebebeb;
            li{
                padding: 10px 16px;
                &:hover{
                    background-color: rgba(216, 216, 216, 0.397);
                }
            }
        }
        &__drop{
            padding: 10px 0px;
            z-index: 99999;
            &:hover &--down{
                display: grid;
                position: absolute;
            }
        }
        &__sub{
            &:hover &--menu{
                position: absolute;
                top: 0%;
                left: 100%;
                min-width: 150px;
                display: grid;
                background-color: #fff;
                border: 1px solid #ebebeb;
                padding: 0px;
            }
        }
        .rotate-up{
            transform: none;
        } 
        .rotate-down{
            transform: none;
        }
        .show-drop-down{
            display: none;
            position: absolute;
            row-gap: 0px;
        }
        .sub-rotate-up{
            transform: none;
        }
        .show-sub-drop{
            display: none;
            row-gap: 0px;
        }
    }
}

.main{
    padding-top: 150px;
}

// banner
.banner{
    &__content{
        position: relative;
        display: grid;
        padding: 19px 0px;
        row-gap: 30px;
    }
    &__text{
        margin: auto 0;
        @extend %grid-start;
    }
    &__button{
        margin-top: 22px;
    }
    &__image{
        position: relative;
    }
    @include media-sm{
        &__content{
            grid-template-columns: repeat(1, 1fr);
        }
        &__image{
            margin: 0 auto;
        }
    }
    @include media-lg{
        &__content{
            grid-template-columns: repeat(2, 1fr);
        }
        &__left-circle{
            &--a{
                position: absolute;
                height: 65px;
                width: 65px;
                background: linear-gradient(149.21deg, #FFFFFF 12.75%, #D0DCFF 86.99%);
                border-radius: 50%;
                top: 0px;
                left: 140px;
            }
            &--b{
                position: absolute;
                height: 65px;
                width: 65px;
                background: linear-gradient(149.21deg, #FFFFFF 12.75%, #D0DCFF 86.99%);
                border-radius: 50%;
                bottom: 47px;
                right: -110px;
            }
        }
    }
    @include media-xl{
        &__content{
            grid-template-columns: repeat(2, 1fr);
        }
        &__left-cricle{
            position: absolute;
            height: 90px;
            width: 90px;
            background: linear-gradient(149.21deg, #FFFFFF 12.75%, #D0DCFF 86.99%);
            border-radius: 50%;
            bottom: 0px;
            left: -100px;
            &--a{
                position: absolute;
                height: 65px;
                width: 65px;
                background: linear-gradient(149.21deg, #FFFFFF 12.75%, #D0DCFF 86.99%);
                border-radius: 50%;
                top: 0px;
                left: 140px;
            }
            &--b{
                position: absolute;
                height: 65px;
                width: 65px;
                background: linear-gradient(149.21deg, #FFFFFF 12.75%, #D0DCFF 86.99%);
                border-radius: 50%;
                bottom: 47px;
                right: -110px;
            }
        }
        &__image{
            img{
                margin-left: 130px;
            }   
        }
    }
}

//features
.features{
    &__content{
        display: grid;
    }
    .shadow-right{
        box-shadow: inset -1px 0px 0px rgba(255, 255, 255, 0.1);
    }
    &__emergency{
        @extend %grid-start;
        background: var(--primary-color);
        box-shadow: inset -1px 0px 0px rgba(255, 255, 255, 0.1);
        padding: 40px;
        border-radius: 10px 0px 0px 10px;
    }
    &__timetable{
        @extend %grid-start;
        background: var(--primary-color);
        box-shadow: inset -1px 0px 0px rgba(255, 255, 255, 0.1);
        padding: 40px;
    }
    &__hours{
        @extend %grid-start;
        background: var(--primary-color);
        padding: 40px;
        border-radius: 0px 10px 10px 0px;
    }
    &__paragraph{
        font-size: 1.125rem;
        line-height: 34px;
    }
    &__icon{
        padding-bottom: 8px;
    }
    &__row{
        padding: 12px 0px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        justify-content: space-between;
    }
    &__border{
        box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.1);
    }
    @include media-sm{
        &__emergency{
            border-radius: 10px 10px 0px 0px;
        }
        &__hours{
            border-radius: 0px 0px 10px 10px;
        }
    }
    @include media-md{
        &__emergency{
            border-radius: 10px 10px 0px 0px;
        }
        &__hours{
            border-radius: 0px 0px 10px 10px;
        }
    }
    @include media-lg{
        &__content{
            grid-template-columns: repeat(2,1fr);
        }
        &__emergency{
            border-radius: 10px 0px 0px 10px;
        }
        &__hours{
            border-radius: 10px 0px 10px 10px;
        }
    }
    @include media-xl{
        &__content{
            grid-template-columns: repeat(3,1fr);
        }
        &__emergency{
            border-radius: 10px 0px 0px 10px;
        }
        &__hours{
            border-radius: 0px 10px 10px 0px;
        }
    }
}

//about us styling
.about{
    &__content{
        display: grid;
        column-gap: 30px;
        row-gap: 20px;
    }
    &__texts{
        display: grid;
        justify-items: start;
        row-gap: 16px;
    }
    &__emergency{
        display: grid;
        grid-template-columns: repeat(2 ,1fr);
        column-gap: 63px;
        row-gap: 16px;
    }
    &__check{
        display: flex;
        gap: 10px;
    }
    &__button{
        margin-top: 22px;
    }
    @include media-sm{
        &__content{
            grid-template-columns: repeat(1, 1fr);
        }
        &__image{
            text-align: center;
        }
    }
    @include media-md{
        &__content{
            grid-template-columns: repeat(1, 1fr);
        }
        &__image{
            text-align: center;
        }
    }
    @include media-lg{
        &__content{
            grid-template-columns: repeat(1, 1fr);
        }
        &__image{
            text-align: center;
        }
    }
    @include media-xl{
        &__content{
            grid-template-columns: repeat(2, 1fr);
        }
        &__image{
            text-align: start;
        }
    }
}

//services styling
.services{
    &__cards{
        display: grid;
        row-gap: 40px;
        column-gap: 30px;
        padding: 40px 0px;
    }
    &__texts{
        display: grid;
        row-gap: 16px;
        justify-items: center;
        max-width: 651px;
        margin: 0 auto;
    }
    &__icon{
        padding: 46px 0px;
        background: var(--primary-color);
        border-radius: 20px 20px 0px 0px;
    }
    &__details{
        display: grid;
        justify-items: center;
        row-gap: 11px;
        padding: 24px 30px;
        border-radius: 0px 0px 20px 20px;
        background: #F7FBFF;
    }
    &__button{
        &--card{
            background: transparent;
            color: var(--button-color);
            padding: 14px 24px;
            border-radius: 10px;
            margin-top: 13px;
            display: flex;
            justify-content: end;
            align-items: center;
            gap: 16px;
            font-weight: 600;
            .right-arrow{
                fill: var(--button-color);
            }
            &:hover{
                .right-arrow{
                    fill: var(--dark-green);
                }
                color: var(--dark-green);
                background: var(--light-green);
            }
        }
    }
    @include media-sm{
        &__cards{
            grid-template-columns: repeat(1,1fr);
        }
    }
    @include media-md{
        &__cards{
            grid-template-columns: repeat(2,1fr);
        }
    }
    @include media-lg{
        &__cards{
            grid-template-columns: repeat(3,1fr);
        }
    }
}

//process styling
.process{
    &__texts{
        display: grid;
        row-gap: 20px;
        column-gap: 150px;
    }
    &__title{
        &--spacing{
            display: grid;
            justify-items: start;
            row-gap: 15px;
        }
    }
    &__paragraph{
        margin: auto 0;
    }
    &__cardlist{
        display: grid;
        column-gap: 30px;
        row-gap: 30px;
        padding-top: 64px;
    }
    &__card{
        text-align: center;
        background-color: #fff;
        border-radius: 10px;
        padding: 56px 47px;
        display: grid;
        row-gap: 40px;
        box-shadow: 0px 12px 48px rgba(21, 36, 59, 0.08);
        &:hover{
            background: var(--primary-color);
            color: #fff;
        }
    }
    // &__dots{
    //     &--image{
    //         display: inline;
    //         position: absolute;
    //         bottom: -57px;
    //         right: -90px;
    //         z-index: -1;
    //     }
    // }
    @include media-sm{
        &__texts{
            grid-template-columns: repeat(1,1fr);
        }
        &__cardlist{
            padding-top: 32px;
            grid-template-columns: repeat(1,1fr);
        }
        &__dots{
            &--image{
                display: none;
            }
        }
    }
    @include media-md{
        &__texts{
            grid-template-columns: repeat(1,1fr);
        }
        &__cardlist{
            grid-template-columns: repeat(2,1fr);
        }
        &__dots{
            &--image{
                display: none;
            }
        }
    }
    @include media-lg{
        &__texts{
            grid-template-columns: repeat(2,1fr);
        }
        &__cardlist{
            grid-template-columns: repeat(3,1fr);
        }
    }
    @include media-xl{
        &__texts{
            grid-template-columns: repeat(2,1fr);
        }
        &__cardlist{
            position: relative;
            grid-template-columns: repeat(4,1fr);
            &::after{
                content: url("/assests/img/shapes/dots.png");
                position: absolute;
                bottom: -28px;
                right: -46px;
                color: red;
                width: 128px;
                height: 108px;
                z-index: -1;
            }
        }
        &__dots{
            &--image{
                display: inline;
            }
        }
    }
}

// appointment styling
.appointment{
    &__content{
        display: grid;
        column-gap: 30px;
        row-gap: 30px;
    }
    &__texts{
        h2{
            padding: 16px 0px;
        }
    }
    &__image{
        &--space{
            padding-top: 30px;
        }
    }
    &__social{
        padding-top: 48px;
        display: grid;
        row-gap: 25px;
        &--icons{
            display: flex;
            gap: 24px;
            a{
                color: var(--paragraph-color);
            }
        }
    }
    &__icon{
        color: var(--paragraph-color);
        &:hover{
            color: var(--button-color);
        }
    }
    &__form{
        display: grid;
        row-gap: 24px;
        padding: 32px 40px;
        border-radius: 20px;
        background-color: #fff;
        box-shadow: 0px 12px 48px rgba(21, 36, 59, 0.08);
        p{
            display: grid;
        }
    }
    input, select, textarea{
        max-width: 100%;
        padding: 14px 5px;
        border-radius: 10px;
        color: rgba(5, 32, 61, 0.28);
        border: 1px solid rgba(5, 32, 61, 0.1);
    }
    label{
        font-size: 1.125rem;
        line-height: 34px;
        padding-bottom: 4px;
    }
    &__details{
        display: grid;
        column-gap: 30px;
        row-gap: 10px;
    }
    &__button{
        margin-top: 8px;
        justify-content: center;
    }
    &__select{
        height: 149px;
    }
    @include media-sm{
        &__details{
            grid-template-columns: repeat(1,1fr);
        }
    }
    @include media-md{
        &__content{
            grid-template-columns: repeat(1,1fr);
        }
        &__details{
            grid-template-columns: repeat(2,1fr);
        }
    }
    @include media-lg{
        &__content{
            grid-template-columns: repeat(2,1fr);
        }
        &__details{
            grid-template-columns: repeat(2,1fr);
        }
    }
}

// mobile styling   
.mobile{
    &__content{
        display: grid;
        column-gap: 78px;
        row-gap: 40px;
    }
    &__store{
        display: inline-grid;
        grid-template-columns: repeat(2,1fr);
        column-gap: 25px;
    }
    h2{
        margin: 16px 0px;
    }
    .paragraph-content{
        margin: 16px 0px 40px 0px;
    }
    @include media-sm{
        &__content{
            grid-template-columns: repeat(1,1fr);
        }
        &__image{
            text-align: center;
        }        
    }
    @include media-md{
        &__image{
            text-align: center;
        }        
    }
    @include media-lg{
        &__content{
            grid-template-columns: repeat(2,1fr);
        }      
    }
}

// experts styling
.experts{
    &__content{
        position: relative;
    }
    &__texts{
        max-width: 649px;
        margin: 0 auto;
        h2{
            padding: 16px 0px;
        }
    }
    &__cardslist{
        display: grid;
        row-gap: 15px;
        column-gap: 30px;
    }
    &__card-text{
        p{
            font-size: 1.25rem;
            line-height: 32px;
            font-weight: 600;
            color: var(--header-color);
        }
        span{
            line-height: 28px;
            font-weight: 200;
        }
    }
    @include media-sm{
        &__cardslist{
            padding: 32px 0px 12px 0px;
            grid-template-columns: repeat(1,1fr);
        }
    }
    @include media-md{
        &__cardslist{
            padding: 32px 0px 12px 0px;
            grid-template-columns: repeat(2,1fr);
        }
    }
    @include media-lg{
        &__cardslist{
            grid-template-columns: repeat(3,1fr);
        }
    }
    @include media-xl{
        &__cardslist{
            padding: 64px 0px 48px 0px;
            grid-template-columns: repeat(4,1fr);
        }
    }
}

//feedback
.feedback{
    &__content{
        display: grid;
        column-gap: 100px;
        row-gap: 30px;
    }
    &__texts{
        h2{
            padding: 16px 0px;
        }
    }
    &__button{
        text-align: center;
    }
    &__quotes{
        padding: 40px 0px 0px 0px;
        display: grid;
    }
    &__paragraph{
        &--text{
            font-size: 1.125rem;
            line-height: 34px;
            color: var(--paragraph-color);
        }
    }
    h5{
        padding: 24px 0px 2px 0px;
    }
    @include media-sm{
        &__button{
            margin-top: 25px;
        }
    }
    @include media-lg{
        &__content{
            grid-template-columns: repeat(2,1fr);
        }
        &__button{
            margin-top: 50px;
        }
    }
    @include media-xl{
        &__content{
            grid-template-columns: repeat(2,1fr);
        }
        &__button{
            margin-top: 100px;
        }
    }
}

// blog styling
.blog{
    &__content{
        h2{
            padding: 16px 0px;
        }
    }
    &__cardlist{
        display: grid;
        row-gap: 20px;
        column-gap: 30px;
        padding: 56px 0px 48px 0px;
    }
    &__card{
        border-radius: 20px;
        box-shadow: 0px 12px 48px rgba(21, 36, 59, 0.08);
        &--content{
            display: grid;
            row-gap: 8px;
            padding: 30px;
        }
        &--category{
            font-size: 0.875rem;
            color: var(--paragraph-color);
            line-height: 16.94px;
        }
        &--title{
            color: var(--header-color);
            line-height: 35px;
        }
        &--date{
            padding: 8px 0px 2px 0px;
            font-size: 0.875rem;
            color: var(--paragraph-color);
            line-height: 16.94px;
        }
    }
    &__image{
        img{
            border-radius: 20px 20px 0px 0px;
        }
    }
    &__button{
        text-align: center;
    }
    @include media-sm{
        &__cardlist{
            grid-template-columns: repeat(1,1fr);
        }
    }
    @include media-md{
        &__cardlist{
            grid-template-columns: repeat(2,1fr);
        }
    }
    @include media-lg{
        &__cardlist{
            grid-template-columns: repeat(3,1fr);
        }
    }
    @include media-xl{
        &__cardlist{
            grid-template-columns: repeat(3,1fr);
        }
    }
}

// assist styling
.assist{
    &__content{
        position: relative;
        display: inline-grid;
        row-gap: 20px;
        padding: 64px 60px;
        background: var(--primary-color);
        border-radius: 20px;
    }
    &__corner{
        position: absolute;
        top: 0px;
        right: 0px;
    }
    h2{
        font-size: 2.5rem;
        padding-bottom: 8px;
    }
    p{
        padding-top: 8px;
        font-size: 1.25rem;
    }
    &__text{
       &--white{
        color: #fff;
       }
    }
    &__button{
        margin: auto;
    }
    &__corner-dot{
        position: absolute;
        bottom: 10px;
        left: 20px;
    }
    @include media-lg{
        &__content{
            grid-template-columns: repeat(2,1fr);
        }
    }
}

// reach us styling
.reach{
    padding: 40px 0px 25px 0px;
    &__content{
        column-gap: 30px;
        row-gap: 30px;
    }
    &__appointment{
        display: flex;
        gap: 20px;
        &--image{
            margin: auto 0;
        }
        &--texts{
            color: var(--header-color);
        }
    }    
    @include media-sm{
        &__content{
            display: grid;
            grid-template-columns: repeat(1,1fr);
        }
    }
    @include media-md{
        &__content{
            display: grid;
            grid-template-columns: repeat(2,1fr);
        }
    }
    @include media-lg{
        &__content{
            display: grid;
            grid-template-columns: repeat(3,1fr);
        }
    }
}

// main footer styling
.footer{
    padding: 80px 0px 48px 0px;
    border-top: 1px solid rgba(103, 106, 138, 0.15);
    &__content{
        display: grid;
        row-gap: 10px;
        column-gap: 30px;
    }
    &__text{
        font-size: 1.125rem;
        line-height: 34px;
        color: var(--header-color);
        font-weight: 600;
        &--bottom{
            width: 40px;
            height: 3px;
            background: var(--header-color);
            border: none;
            border-radius: 50px;
        }
        &--paragraph{
            font-size: 1.125rem;
            line-height: 34px;
            color: var(--paragraph-color);
            font-weight: 400;
            padding: 30px 0px;
        }
        &--title{
            color: var(--header-color);
            line-height: 35px;
            padding: 30px 0px 0px 0px;
            a{
                color: var(--header-color);
                &:hover{
                    color: var(--button-color);
                }
            }
        }
        &--date{
            padding-top: 4px;
            font-size: 0.875rem;
            line-height: 16.94px;
            color: var(--paragraph-color);
        }
        &--time{
            display: grid;
            grid-template-columns: repeat(2,1fr);
        }
    }
    &__socialmedia{
        display: flex;
        gap: 25px;
        a{
            color: var(--paragraph-color);
        }
    }
    &__links{
        a{
            color: var(--paragraph-color);
        }
    }
    &__schedule{
        padding: 30px 0px;
    }
    &__row{
        padding: 12px 0px;
        display: flex;
        justify-content: space-between;
    }
    &__icon{
        color: var(--header-color);
    }
    .border-bottom{
        border-bottom: 1px solid rgba(103, 106, 138, 0.15);
    }
    @include media-sm{
        padding: 40px 0px 12px 0px;
        &__content{
            grid-template-columns: repeat(1,1fr);
        }
    }
    @include media-md{
        &__content{
            grid-template-columns: repeat(2,1fr);
        }
    }
    @include media-lg{
        &__content{
            grid-template-columns: repeat(4,1fr);
        }
    }
    @include media-xl{
        &__content{
            grid-template-columns: 284.5px 125px 350px 284.5px;

        }
    }
}

// copyright
.copyright{
    background: var(--header-color);
    padding: 16px 0px;
    color: var(--paragraph-color);
    &__content{
        display: flex;
        justify-content: space-between;
    }
    &__link{
        display: flex;
        gap: 20px;
        a{
            color: #fff;
        }
    }
    .text-white{
        color: #fff;
    }
    @include media-sm{
        &__content{
            text-align: center;
            display: grid;
            justify-items: center;
        }
    }
}

// About us page
.section{
    &__content{
        position: relative;
    }
    &__texts{
        margin: 0 auto;
        max-width: 743px;
        h2{
            padding: 16px 0px;
        }
    }
    &__left-circle{
        position: absolute;
        height: 65px;
        width: 65px;
        background: linear-gradient(149.21deg, #FFFFFF 12.75%, #D0DCFF 86.99%);
        border-radius: 50%;
        top: -66px;
        right: -137px;
    }
    &__right-circle{
        position: absolute;
        height: 90px;
        width: 90px;
        background: linear-gradient(149.21deg, #FFFFFF 12.75%, #D0DCFF 86.99%);
        border-radius: 50%;
        bottom: -55px;
        left: -300px;
    }
    @include media-sm{
        &__left-circle{
            display: none;
        }
        &__right-circle{
            display: none;
        }
    }
    @include media-md{
        &__left-circle{
            display: none;
        }
        &__right-circle{
            display: none;
        }
    }
    @include media-xl{
        &__left-circle{
            display: inline;
        }
        &__right-circle{
            display: inline;
        }
    }
}

// Testimonal page
.all-testimonal{
    &__content{
        display: grid;
        column-gap: 30px;
        row-gap: 30px;
    }
    &__card{
        display: grid;
        row-gap: 24px;
        padding: 24px;
        background-color: #fff;
        border-radius: 20px;
        &--text{
            font-size: 1.125rem;
            line-height: 34px;
            color: var(--paragraph-color);
        }     
    }
    &__author{
        display: flex;
        gap: 16px;
        &--details{
            margin: auto 0;
        }
        &--name{
            color: var(--header-color);
        }
        &--work{
            line-height: 34px;
            color: var(--paragraph-color);
        }
    }
    @include media-md{
        &__content{
            grid-template-columns: repeat(2,1fr);
        }
    }
    @include media-lg{
        &__content{
            grid-template-columns: repeat(2,1fr);
        }
    }
}

