$gap: 12px;
$margin: auto;
$fontSizes:( fontTwo: 16px, fontThree: 18px, fontFour: 20px, fontFourtwo:24px, fontFive:40px, fontSix: 30px, fontSeven: 22px);
$maxWidth: 1170px;
$widths:(widthContent:490px);
$lineHeight: 32.4px;
$colors:( main:#4E7302, secondary:#547C0E, highlight: #fab73a, icon-background:#F2F4EF, icon-color:#4a8050, section-color:#F7F9F4);
$paddings:( paddingOne: 18px 0px, paddingSearch:20px 23px, paddingRight:5px, paddingBottom:20px, padding70:70px 80px, padding90:0px 0px 0px 90px, padding30:30px 0px, padding80: 60px 90px);
$margins:(marginNavbar:30px 0px 25px 0px, marginRight: 50px, marginSmallR: 5px, marginSmallR2:10px, marginSideC: auto 0, marginTopC: 0 auto, marginTestimonals: 0px 30px);
$border-radius:(radius: 20px, radiusIcon:50%, bord-radius: 20px);
$fonts:(mainFont:'Manrope', subFont:'Work Sans', headingFont:'Rubik');
$font-weights:(weightOne: 100, weightTwo:200, weightThree: 300, weightFour: 400, weightFive: 500, weightSix: 600);