// @import url(/assests/css/sass/_functions.scss);
// @import url(/assests/css/sass/_mixin.scss);
// @import url(/assests/css/sass/_variable.scss);

@import 'function';
@import 'mixin';
@import 'variable';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: fonts(mainFont);
}

.top-section {
    .top-section_bar {
        background-color: colors(main);
    }
}

.top-section_items {
    @include container;
    @include displayFlex;
}

.top-section_items_list-links {
    ul {
        gap: $gap;
        color: #fff;
        @include displayFlex;
        padding: paddings(paddingOne);
        li {
            font-size: fontSizes(fontTwo);
            a {
                font-size: fontSizes(fontThree);
                text-decoration: none;
                color: #fff;
            }
        }
    }
}

.top-section_contact-details {
    ul {
        gap: $gap;
        color: #fff;
        @include displayFlex;
        padding: paddings(paddingOne);
        li {
            .fa-phone {
                font-size: fontSizes(fontThree);
                padding-right: paddings(paddingRight);
            }
            .fa-envelope {
                font-size: fontSizes(fontTwo);
                padding-right: paddings(paddingRight);
            }
            font-weight: font-weights(weightFour);
        }
    }
}

#mail {
    font-family: fonts(subFont);
    font-weight: font-weights(wightFour);
}

.logo-section {
    @include container;
}

.logo {
    margin: margins(marginSideC);
}

.menu-details {
    @include displayFlex;
    padding: paddings(paddingOne);
}

.loginPrice {
    @include displayFlex;
    gap: 30px;
}

.user-icon {
    @include displayFlex;
    margin: $margin;
    i {
        @include icon-attributes;
    }
    .two-text {
        margin: $margin;
    }
}

.cart-icon {
    @include displayFlex;
    margin: $margin;
    i {
        @include icon-attributes;
    }
    .two-text {
        margin: $margin;
    }
}

.search-icon {
    margin: $margin;
    padding: paddings(paddingSearch);
    background-color: colors(highlight);
    border-radius: border-radius(radiusIcon);
}

.nav {
    @include container;
}

.navbar {
    @include displayFlex;
    margin: margins(marginNavbar);
}

.navigation-menu {
    ul {
        @include displayFlex;
        li {
            margin-right: margins(marginRight);
        }
    }
}

li {
    a {
        text-decoration: none;
        color: #000;
        font-size: fontSizes(fontThree);
        font-weight: font-weights(weightFive);
        margin-right: margins(marginSmallR2);
    }
}

.phone-number {
    @include displayFlex;
    b {
        margin: margins(marginSideC);
        .fa-phone {
            font-size: fontSizes(fontFourtwo);
            margin-right: margins(marginSmallR);
        }
    }
    p {
        font-size: fontSizes(fontThree);
        font-weight: font-weights(weightFive);
    }
}

.image-aboutus {
    position: relative;
    text-align: start;
}

.image-content {
    @include container;
}

.container>.about-center {
    position: absolute;
    top: 35%;
    max-width: widths(widthContent);
}

.about-center>h1 {
    font-size: fontSizes(fontFive);
    padding-bottom: paddings(paddingBottom)
}

.about-center>p {
    font-size: fontSizes(fontFour);
}

.story {
    text-align: start;
}

.story-mission {
    @include container;
    @include displayFlex;
    padding: paddings(padding70);
}

.story>h1 {
    font-size: fontSizes(fontFive);
    padding-bottom: 15px;
}

.story>p {
    max-width: 460px;
    line-height: $lineHeight;
    color: #5a5a5a;
    font-size: fontSizes(fontThree);
}

.mission>h1 {
    font-size: fontSizes(fontFive);
    padding-bottom: 15px;
}

.mission>p {
    max-width: 460px;
    line-height: $lineHeight;
    color: #5a5a5a;
    font-size: fontSizes(fontThree);
}

.store {
    @include container;
    padding-bottom: 90px;
}

.store-images-rowone {
    @include displayCenter;
    gap: 15px;
}

.image-a {
    img {
        border-radius: border-radius(radius);
    }
}

.image-b {
    img {
        border-radius: border-radius(radius);
    }
}

.store-images-rowtwo {
    @include displayCenter;
    gap: 15px;
    padding: 10px 0px 0px 230px;
}

.image-c {
    img {
        border-radius: border-radius(radius);
    }
}

.image-d {
    img {
        border-radius: border-radius(radius);
    }
}

.values {
    background-color: colors(section-color);
    .container {
        @include container;
        padding: paddings(padding70)
    }
}

.values-header {
    text-align: center;
    h1 {
        font-size: fontSizes(fontFive);
        padding-bottom: 20px;
    }
    p {
        margin: margins(marginTopC);
        max-width: 700px;
        font-size: fontSizes(fontThree);
        padding-bottom: 50px;
    }
}

.values-content {
    @include displayFlex;
    text-align: center;
    gap: $gap;
}

.content-a {
    @include content-alpha;
    i {
        @include content-icon-attributes;
    }
    h3 {
        padding: paddings(paddingSearch);
        font-size: fontSizes(fontFour);
    }
}

.content-b {
    @include content-alpha;
    i {
        @include content-icon-attributes;
    }
    h3 {
        padding: paddings(paddingSearch);
        font-size: fontSizes(fontFour);
    }
}

.content-c {
    @include content-alpha;
    i {
        @include content-icon-attributes;
    }
    h3 {
        padding: paddings(paddingSearch);
        font-size: fontSizes(fontFour);
    }
}

.testimonals {
    .container {
        padding: paddings(padding70);
        @include container;
        text-align: center;
    }
    .testimonals-data {
        @include displayFlex;
    }
}

.testimonals-title {
    h1 {
        font-size: fontSizes(fontFive);
        padding-bottom: 60px;
    }
}

.testimonals-data {
    .left-navigation {
        margin: margins(marginSideC)
    }
    .right-navigation {
        margin: margins(marginSideC)
    }
}

.left-navigation {
    i {
        @include navigation-icon;
    }
}

.right-navigation {
    i {
        @include navigation-icon;
    }
}

.testimonals-content {
    margin: margins(marginTestimonals);
    border: 0.3px solid #F3F3F3;
    border-radius: border-radius(bord-radius);
    padding: paddings(padding80);
    max-height: 350px;
    .fa-quote-left {
        color: #E3E9D7;
        font-size: fontSizes(fontSix);
        padding-bottom: 20px;
    }
    .testimonals-content_text {
        line-height: $lineHeight;
        font-size: fontSizes(fontFour);
    }
    .testimonals-content_author {
        padding: paddings(paddingSearch)
    }
    .testimonals-content_desgination {
        padding-bottom: 10px;
    }
}

.navigation-click {
    text-align: center;
    padding: 45px 0px;
    margin-top: 35px;
    .dot {
        height: 10px;
        width: 10px;
        background-color: #e3e3e3;
        border-radius: 50%;
        display: inline-block;
    }
    .dot-active {
        height: 10px;
        width: 10px;
        background-color: rgb(32, 32, 32);
        border-radius: 50%;
        display: inline-block;
    }
}

.testimonals-button {
    button {
        @include button-view;
        a {
            text-decoration: none;
            color: #000;
            font-size: fontSizes(fontThree);
            font-weight: font-weights(weightOne);
        }
    }
}

.percentage-off {
    .container {
        @include container;
    }
}

.percentage-off_image {
    border-radius: border-radius(radius);
    position: relative;
    background-color: #eaf4d7;
    text-align: center;
    #percentage-off {}
}

.percentage-off_text-centered {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    #text-first {
        font-size: 12px;
        padding: 60px 0px;
        font-weight: bold;
        color: #7c8273;
        letter-spacing: 4px;
    }
    #text-second {
        font-size: 35px;
        padding-bottom: 20px;
    }
    #text-third {
        font-size: 20px;
    }
    .percentage-off_button {
        padding: 40px 0px 0px 0px;
    }
}

.percentage-off_button {
    button {
        @include button-view;
        a {
            @include button-links;
        }
    }
}

.footers {
    margin-top: 60px;
    background-color: colors(section-color);
    .container {
        @include container;
    }
}

.footer-items {
    @include displayFlex;
    padding-top: 60px;
    padding-bottom: paddings(paddingBottom);
}

.logo_content {
    max-width: 400px;
}

.logo_content {
    img {
        padding-bottom: paddings(paddingBottom);
    }
    p {
        padding-bottom: paddings(paddingBottom);
    }
    ul {
        display: flex;
        list-style-type: none;
    }
}

.footer-items-list {
    ul {
        list-style-type: none;
        li {
            padding-bottom: 5px;
        }
    }
}

.items-list-heading {
    p {
        font-weight: bold;
        padding: 10px 0px 30px 0px;
    }
}

hr {
    border: 0.3px solid #dddada;
    margin: 20px 0px;
}

.copywright {
    @include displayFlex;
    padding-bottom: paddings(paddingBottom);
    font-size: fontSizes(fontTwo);
}